<div *teleportTo="'toolbarSection'">
    <ul class="inline-flex flex-nowrap justify-center">
        <li class="inline-block px-3 py-3 mx-1 rounded-md hover:bg-background-light active:bg-background-dark text-xs cursor-pointer transition-all" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'text-accent-dark'">Übersicht</li>
        <li class="inline-block px-3 py-3 mx-1 rounded-md hover:bg-background-light active:bg-background-dark text-xs cursor-pointer transition-all" [routerLink]="['/releases']" [routerLinkActive]="'text-accent-dark'">Neuheiten</li>
        <li class="inline-block px-3 py-3 mx-1 rounded-md hover:bg-background-light active:bg-background-dark text-xs cursor-pointer transition-all" [routerLink]="['/artists']" [routerLinkActive]="'text-accent-dark'">Künstler</li>
    </ul>
</div>

    <section>
        <h1>Willkommen, {{ (authService.$user | async).username }}</h1>
    
        <h5>Zuletzt gehört</h5>
        <h5>Entdecke neue Songs</h5>
        <h5>{{ "genre" }}<span class="block w-full">Entdecke Musik aus deinem Lieblingsgenre</span></h5>
    </section>


