<section class="w-full h-full select-none viewport overflow-auto" #parent>
    <app-error404 *ngIf="!($loading | async) && !($mount | async)"></app-error404>

    <scngx-scroll [datasource]="datasource" #scroller *ngIf="datasource">

        <ng-container header>
            <div class="w-full p-window">

                <!-- UI Title -->
                <div class="w-full">
                    <p class="uppercase text-sm text-font-secondary">Mount</p>
                    <scngx-skeleton [class]="'h-10 w-96 mt-1'" *ngIf="($loading | async)"></scngx-skeleton>
                    <h4 class="cursor-text select-text" *ngIf="!($loading | async)">{{ ($mount | async)?.name }}</h4>
                </div>

                <!-- Statistics -->
                <div class="grid grid-cols-1 md:grid-cols-autofit gap-4 my-row">
            
                    <scngx-skeleton [class]="'h-32 w-full'" *ngIf="($loading | async)"></scngx-skeleton>
                    <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md" *ngIf="!($loading | async)">
                        <h6>Statistiken</h6>
                        <ul class="flex flex-col items-start w-full gap-2 mt-4">
                            <li class="inline-flex items-center gap-2 opacity-80"><hero-icon [class]="'h-5 w-5'" name="collection"></hero-icon><span class="text-sm">{{ ($mount | async)?.filesCount || 0 }} Datei{{ ($mount | async)?.filesCount != 1 ? 'en' : '' }}</span></li>
                            <li class="inline-flex items-center gap-2 opacity-80"><hero-icon [class]="'h-5 w-5'" name="chart-pie"></hero-icon><span class="text-sm">{{ ($mount | async)?.usedSpace | scngxBytesPipe:"gb" }}</span></li>
                            <li class="inline-flex items-center gap-2 opacity-80"><hero-icon [class]="'h-5 w-5'" name="refresh"></hero-icon><span class="text-sm">{{ ($mount | async)?.lastScannedAt ? (($mount | async)?.lastScannedAt | date:"dd.MM.yyyy 'um' HH:mm 'Uhr'") : "Nie" }}</span></li>
                        </ul>
                    </div>
        
                    <scngx-skeleton [class]="'h-32 w-full'" *ngIf="($loading | async)"></scngx-skeleton>
                    <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md" *ngIf="!($loading | async)">
                        <h6>Status</h6>
                        <ul class="flex flex-col items-start w-full gap-2 mt-4">
                            <li class="inline-flex items-center gap-2 opacity-80" *ngIf="($mount | async)?.isDefault"><hero-icon [class]="'h-5 w-5 fill-warn text-warn'" name="star"></hero-icon><span>Als Standard festgelegt</span></li>
                            <li class="inline-flex items-center gap-2 opacity-80">
                                <scngx-status-indicator size="md" [appearance]="($mount | async)?.status == 0 ? 'success' : 'warn'"></scngx-status-indicator>
                                <span>{{ ($mount | async)?.status | scngxMountStatusPipe }}</span>
                            </li>
                        </ul>
                    </div>
        
                    <scngx-skeleton [class]="'h-32 w-full'" *ngIf="($loading | async)"></scngx-skeleton>
                    <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md" *ngIf="!($loading | async)">
                        <h6>Aktionen</h6>
                        <ul class="flex flex-wrap items-start w-full gap-2 mt-4">
                            <scngx-btn (click)="openMountEditorDialog()"><hero-icon [class]="'h-5 w-5'" name="pencil"></hero-icon>Mount bearbeiten</scngx-btn>
                            <scngx-lbtn-outlined appearance="error" [loading]="($deleting | async)" (click)="deleteMount()"><hero-icon [class]="'h-5 w-5 align-middle'" name="trash"></hero-icon><span class="align-middle">Mount löschen</span></scngx-lbtn-outlined>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-container>
        
        <!-- List of files -->
        <ng-container list>
            <div class="px-window py-2" *uiScroll="let item of scroller.datasource">
                <app-file-list-item  [file]="item.data" [routerLink]="[item.data.slug || item.data.id]"></app-file-list-item>
            </div>
        </ng-container>

    </scngx-scroll>

</section>
