<ng-container *ngIf="($props | async) as props">

    <div class="w-full h-full overflow-y-auto" cdkVirtualScrollingElement>
        <app-error404 *ngIf="!props.loading && !props.mount"></app-error404>

        <div class="px-window pt-window">
            <scngx-ui-title [inverted]="true" *ngIf="!props.loading">
                <div class="flex flex-1 items-baseline justify-start gap-4">
                    <h4 class="line-clamp-2 break-words">{{ props.mount?.name }}</h4>
                    <div class="hidden md:block" *ngIf="props.mount?.status == 0">
                        <scngx-ibtn-text size="md" (click)="openMountEditorDialog(props.mount)"><ng-icon class="h-6 w-6" name="heroPencil"></ng-icon></scngx-ibtn-text>
                        <scngx-ibtn-text *ngIf="props.mount?.status == 0" [loading]="($refreshStatus | async)" size="md" (click)="triggerReindex(props.mount)"><ng-icon class="h-6 w-6" name="heroArrowPath"></ng-icon></scngx-ibtn-text>
                        <scngx-ibtn-text *ngIf="!props.mount?.isDefault" [loading]="($setAsDefaultStatus | async)" size="md" (click)="setAsDefault(props.mount)"><ng-icon class="h-6 w-6" name="heroStar"></ng-icon></scngx-ibtn-text>
                        <scngx-ibtn-text [loading]="($deletingStatus | async)" size="md" appearance="error" (click)="deleteMount(props.mount)"><ng-icon class="h-6 w-6" name="heroTrash"></ng-icon></scngx-ibtn-text>
                    </div>
                </div>
                <p scngxSubtitle>Mount</p>
            </scngx-ui-title>
        </div>

        <div class="my-row px-window">
            <div class="p-4 rounded-sm bg-warn border-warn-light border-2" *ngIf="props.appInfo?.isDockerized">
                <p class="text-sm">Die Anwendung wird derzeit in einer Docker-Umgebung ausgeführt. Neue Mounts kannst du deshalb nur über das Einbinden weiterer Docker-Volumes erstellen.</p>
            </div>
        </div>

        <div class="px-window" *ngIf="props.process; else files">
            <div class="my-row p-4 rounded-sm bg-warn border-warn-light border-2" *ngIf="props.process">
                <p class="text-sm">Derzeit findet ein Scan statt. Du kannst alle Dateien ansehen, sobald der Prozess abgeschlossen ist</p>
            </div>

            <div>
                <p class="text-center pb-2">Schritt {{ props.process.currentStep }} von {{ props.process.maxSteps }}</p>
                <scngx-progressbar [mode]="props.process.progress != -1 ? 'determinate' : 'indeterminate'" [progress]="props.process.progress"></scngx-progressbar>
                <p class="w-full text-center pt-2 text-sm opacity-40" *ngIf="props.process.progress != -1">{{ props.process.progress }}%</p>
            </div>

            <div class="px-window">
                <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md my-row" *ngIf="!props.loading">
                    <ul class="flex flex-col items-start w-full gap-2">
                        <li>
                            <p class="text-xs w-full opacity-80 pb-2">Status:</p>
                            <p>{{ props.processEvent.status | scngxMountStatusPipe }}</p>
                        </li>
                        <li class="my-row">
                            <p class="text-xs w-full opacity-80 pb-2">Derzeitige Aufgabe:</p>
                            <p>{{ props.process.info.title }}</p>
                        </li>
                        <li>
                            <p class="text-xs w-full opacity-80 pb-2">Beschreibung</p>
                            <p>{{ props.process.info.description }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ng-template #files>
            <div class="my-row px-window md:hidden" *ngIf="!props.loading">
                <ul class="flex flex-wrap items-start w-full gap-2">
                    <scngx-btn (click)="openMountEditorDialog(props.mount)"><ng-icon class="h-6 w-6" name="heroPencil"></ng-icon>Bearbeiten</scngx-btn>
                    <scngx-lbtn *ngIf="props.mount?.status == 0" (click)="triggerReindex(props.mount)" [loading]="($refreshStatus | async)"><ng-icon class="h-6 w-6" name="heroArrowPath"></ng-icon>Scannen</scngx-lbtn>
                    <scngx-lbtn *ngIf="!props.mount?.isDefault" [loading]="($setAsDefaultStatus | async)" (click)="setAsDefault(props.mount)"><ng-icon class="h-6 w-6" name="heroStar"></ng-icon>Als Standard-Mount festlegen</scngx-lbtn>
                    <scngx-lbtn-outlined appearance="error" [loading]="($deletingStatus | async)" (click)="deleteMount(props.mount)"><ng-icon class="h-5 w-5 align-middle" name="heroTrash"></ng-icon><span class="align-middle">Mount löschen</span></scngx-lbtn-outlined>
                </ul>
            </div>
    
            <div class="my-row grid grid-cols-1 md:grid-cols-autofit gap-4 px-window">
                <scngx-skeleton [class]="'h-32 w-full'" *ngIf="props.loading"></scngx-skeleton>
                <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md" *ngIf="!props.loading">
                    <h6>Statistiken</h6>
                    <ul class="flex flex-col items-start w-full gap-2 mt-4">
                        <li class="inline-flex items-center gap-2 opacity-80"><ng-icon class="h-5 w-5" name="heroRectangleStack"></ng-icon><span class="text-sm">{{ props.mount?.filesCount }} Datei{{ props.mount?.filesCount != 1 ? 'en' : '' }}</span></li>
                        <li class="inline-flex items-center gap-2 opacity-80"><ng-icon class="h-5 w-5" name="heroChartPie"></ng-icon><span class="text-sm">{{ props.mount?.usedSpace | scngxBytesPipe:"gb" }}</span></li>
                        <li class="inline-flex items-center gap-2 opacity-80"><ng-icon class="h-5 w-5" name="heroArrowPath"></ng-icon><span class="text-sm">{{ props.mount?.lastScannedAt ? (props.mount?.lastScannedAt | date:"dd.MM.yyyy 'um' HH:mm 'Uhr'") : "Nie" }}</span></li>
                    </ul>
                </div>
    
                <scngx-skeleton [class]="'h-32 w-full'" *ngIf="props.loading"></scngx-skeleton>
                <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md" *ngIf="!props.loading">
                    <h6>Status</h6>
                    <ul class="flex flex-col items-start w-full gap-2 mt-4">
                        <li class="inline-flex items-center gap-2 opacity-80" *ngIf="props.mount?.isDefault"><ng-icon class="h-5 w-5 fill-accent text-accent" name="heroStarSolid"></ng-icon><span>Als Standard festgelegt</span></li>
                        <li class="inline-flex items-center gap-2 opacity-80">
                            <scngx-status-indicator size="md" [appearance]="props.mount?.status == 0 ? 'success' : 'warn'"></scngx-status-indicator>
                            <span>{{ props.mount?.status | scngxMountStatusPipe }}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="px-window my-row">
                <cdk-virtual-scroll-viewport [itemSize]="56">
                    <app-file-list-item *cdkVirtualFor="let item of props.datasource" [file]="item"></app-file-list-item>
                </cdk-virtual-scroll-viewport>
            </div>
        </ng-template>
    </div>
</ng-container>