<section class="p-window">
    <h2>Speicherzonen</h2>
    <p class="text-sm tracking-wide py-4 text-white-dark">Speicherzonen (Buckets) sind Server, auf denen Dateien gespeichert werden. Ein Bucket beinhaltet verschiedene Mounts (Ordner), in denen alle Dateien verwaltet werden.</p>

    <asc-interface-list [pageSize]="pageSize" [totalElements]="totalElements" [currentPage]="currentPage" [currentSize]="($buckets | async).length" (onMore)="findBuckets()">
        <div class="my-2" *ngFor="let bucket of ($buckets | async)">
            <asc-bucket-list-item [bucket]="bucket" [routerLink]="['/storage', 'bucket', bucket.id]"></asc-bucket-list-item>
        </div>
    </asc-interface-list>
</section>