<asc-context-menu-template>
    <ul class="mb-4">
        <li class="p-3 text-opacity-70 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer text-sm" [routerLink]="['/profile', user?.id]">Zu deinem Profil</li>
        <li class="p-3 text-opacity-70 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer text-sm" [routerLink]="['/settings']">Einstellungen</li>
    </ul>
    <ul>
        <li class="p-3 text-opacity-70 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer text-sm" (click)="logout()">Abmelden</li>
    </ul>
</asc-context-menu-template>