<div class="absolute w-full top-0 left-0 right-0 z-10">
    <mat-progress-bar  mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
</div>

<div class="absolute left-0 top-0 w-full h-[50vh]" [style]="'background: linear-gradient(180deg, ' + (accentColor) + '80 0%, ' + (accentColor) + '00 100%);'"></div>

<asc-playlist-view [options]="{ type: 'collection', title: 'Lieblingssongs' }" [likeable]="false" [isPaused]="($isPaused | async)" (onPlay)="playOrPauseList()" *ngIf="!isLoading && !!collection" >

    <!-- Quick info bar below title -->
    <div class="py-2 md:pt-2 md:pb-0 md:flex md:items-center" asc-stats>
        <ul class="flex md:inline-flex items-center gap-2">
            <asc-profile-badge [user]="(authService.$user | async)" [routerLink]="['/profile', (authService.$user | async).id]"></asc-profile-badge>
        </ul>

        <ul class="pt-2 flex md:inline-flex items-center md:p-0 gap-3 md:ml-3">
            <li class="inline text-xs opacity-60">{{ collection?.songsCount }} {{ collection?.songsCount != 1 ? "Songs" : "Song" }}</li>
            <li class="inline text-xs opacity-60">{{ collection?.totalDuration | totalDurationPipe }}</li>
        </ul>
    </div>

    <div asc-contents>
        <!-- Songs list -->
        <section *ngIf="(list.$totalElements | async) > 0 && !(list.$isLoading | async)">
            <asc-song-list [dataSource]="list.$dataSource" [showCount]="false" [showMore]="(list.$dataSource | async)?.length < (list.$totalElements | async)" (onMore)="findSongs()"></asc-song-list>
        </section>

        <!-- Empty message -->
        <section *ngIf="(list.$totalElements | async) <= 0 && !(list.$isLoading | async)">
            <asc-message>Du hast bislang keine Songs mit "Gefällt mir" markiert</asc-message>
        </section>
    </div>
</asc-playlist-view>