.horizontal_scroll {

    .scroll-area {
        -webkit-overflow-scrolling: touch;
        grid-auto-columns: 10rem;
        grid-template-columns: repeat(auto-fill, 10rem);

        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
            display: none;
        }
    }

}