<div>
    <div class="flex flex-1 w-full px-6 items-center" *ngIf="headline || enableMore">
        <h5 class="flex-grow" *ngIf="headline">{{ headline }}</h5>
        <div *ngIf="enableMore">
            <a class="cursor-pointer text-sm opacity-70 hover:underline hover:opacity-100">Alles anzeigen</a>
        </div>
    </div>

    <div class="horizontal_scroll block w-full overflow-hidden scroll-smooth">
        <div class="scroll-area grid grid-flow-col gap-4 scroll-smooth overflow-x-auto overflow-y-hidden px-4 py-2" [ngClass]="{'not-scrollable': !canScroll}">
            <ng-content></ng-content>
        </div>
    </div>
</div>


