<section class="p-window">
    <h3>Warteschlange</h3>

    <div class="my-row">
        <h6>Aktueller Titel</h6>

        <asc-message  *ngIf="($currentAsList | async).length <= 0">Derzeit wird kein Song abgespielt.</asc-message>
        <asc-song-list [dataSource]="$currentAsList" [showHeader]="false" [showDate]="false" [showCount]="false"></asc-song-list>
    </div>
    
    <div class="my-row" *ngIf="($songs | async).length > 0">
        <h6>Als nächstes</h6>

        <asc-song-list [dataSource]="$songs" [showHeader]="false" [showDate]="false" [showCount]="false"></asc-song-list>
    </div>

    <div class="my-row" *ngFor="let list of ($lists | async)">
        <h6>Als nächstes aus: {{ list.item.context.title }}</h6>
        <asc-playable-list [list]="list.item" [showHeader]="false" [showDate]="false" [showCount]="false" [useQueueView]="true"></asc-playable-list>
    </div>
</section>