<section class="p-window">
    <h3>Warteschlange</h3>

    <div class="my-row">
        <h6>Aktueller Titel</h6>

        <div *ngIf="($current | async)">
            {{ ($current | async).song.title }} aus {{ ($current | async).context?.context?.title || "---" }}
        </div>
    </div>
    
    <div class="my-row">
        <h6>Als nächstes</h6>

        <div *ngFor="let song of ($songs | async)">
            {{ song.item.title }}
        </div>
    </div>

    <div class="my-row" *ngFor="let list of ($lists | async)">
        <h6>Als nächstes aus: {{ list.item.context.title }}</h6>

        <div *ngFor="let song of (list.item.$queue | async)">
            {{ song.title }}
        </div>
    </div>
</section>