<section class="px-4">

    <div class="mb-4">
        <h3>Dateien hochladen</h3>
        <p class="text-sm">Wähle Audio-Dateien aus, die du zu TSAlliance Soundcore hinzufügen möchtest. Beachte dabei, dass jeder Nutzer auf diese zugreifen kann.</p>
    </div>

    <!-- Warning -->
    <div class="my-4" *ngIf="(indexStatusService.$socketConnected | async) != 'ok' && (indexStatusService.$socketConnected | async) != 'connecting'">
        <asc-message [mode]="'warn'">
            Es ist möglich, dass auf Grund einer Störung, keine Status-Updates empfangen werden können. Du kannst weiterhin Dateien hochladen, jedoch werden keine Neuigkeiten zum
            Fortschritt nach dem Hochladen angezeigt.
        </asc-message>
    </div>

    <!-- Status on how uploads succeeded -->
    <div class="my-4 flex">
        <asc-stats-item title="Erfolgreich" [value]="($successAmount | async)" [max]="($listCount | async)" mode="success"></asc-stats-item>
        <asc-stats-item title="Duplikate" [value]="($duplicateAmount | async)" [max]="($listCount | async)" mode="warn"></asc-stats-item>
        <asc-stats-item title="Fehlgeschlagen" [value]="($errorAmount | async)" [max]="($listCount | async)" mode="error"></asc-stats-item>
    </div>

    <div class="my-8 relative border-2 border-primary-light border-dashed bg-primary-light bg-opacity-20 rounded-md">
        <p class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 pointer-events-none">Klicken oder Dateien hierher ziehen</p>
        <input #fileInput class="opacity-0 w-full p-6 py-12 cursor-pointer" type="file" multiple="true" (input)="enqueueFiles($event)">
    </div>

    <div class="my-4">
        <h5>In Warteschlange - {{ ($queue | async)?.length }}</h5>
        <p class="text-sm opacity-40 font-light">Hier siehst du alle Dateien, die gerade hochgeladen oder verarbeitet werden.</p>
    </div>

    <div class="my-4 block grid-cols-uploads lg:grid gap-2">
        <asc-index-list-item *ngFor="let index of ($indexQueue | async)" [index]="index"></asc-index-list-item>
        <asc-upload-list-item *ngFor="let upload of ($queue | async)" [upload]="upload"></asc-upload-list-item>
    </div>
</section>