<div class="splash-wrapper fixed left-0 top-0 flex flex-col justify-center content-center items-center w-full h-full overflow-hidden bg-background">
    <div class="block">
        <img src="../../../assets/branding/soundcore_logo_full.svg" class="w-14 h-14 block mx-auto animate-pulse">
    </div>

    <div class="mt-8 text-center">
        <h2>Soundcore</h2>
        <p class="opacity-30 text-sm">by TSAlliance</p>
    </div>

    <div class="block">
        <p>{{ errorMessage }}</p>
    </div>
</div>