<div class="block w-full bg-background bg-opacity-95 filter backdrop-blur-md relative border-t-2 border-primary-light border-opacity-30">
    <asc-seeker *ngIf="($song | async)" [current]="(audioService.$currentTime | async)" [duration]="($song | async)?.duration" (seek)="onSeeking($event)"></asc-seeker>

    <!-- Playerbar container -->
    <div class="flex flex-1 md:p-4 md:px-6 items-center md:gap-2 z-0">

        <!-- Title Section -->
        <div class="flex w-full md:w-1/3 items-center content-center gap-2 p-2 md:p-0 relative">
            <div class="absolute left-0 right-0 top-[4px] bottom-0 z-30 md:hidden" [routerLink]="['/player']"></div>

            <div *ngIf="($song | async)" [ngClass]="{'hidden': !(deviceService.$breakpoint | async).isDesktop}">
                <button [routerLink]="['/player']" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="16" [matRippleAnimation]="{ enterDuration: 100, exitDuration: 250 }" class="w-5 h-5 flex justify-center items-center"><i class="fa-solid fa-up-right-and-down-left-from-center rotate-90 text-xxs text-white-dark"></i></button>
            </div>

            <!-- Title Cover -->
            <div class="relative inline-flex max-w-10 min-w-10 h-10 rounded-sm overflow-hidden" [ngClass]="{'opacity-0 pointer-events-none': !($song | async)}">
                <asc-artwork [artwork]="($song | async)?.artwork" [showAccent]="false"></asc-artwork>

                <span class="flex justify-center items-center absolute top-1/2 left-1/2 w-[105%] h-[105%] transform-gpu -translate-x-1/2 -translate-y-1/2 bg-background-dark backdrop-blur-[1px] bg-opacity-60" *ngIf="(audioService.$loading | async)">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </span>
            </div>

            <!-- Title with Artist -->
            <div class="inline-block w-full">
                <p class="font-normal text-sm line-clamp-1">{{ ($song | async)?.title }}</p>
                <div class="line-clamp-1 opacity-60 md:-mt-1">
                    <ul>
                        <li *ngIf="($song | async)?.explicit" class="inline"><span class="inline-flex font-light mr-1 items-center justify-center rounded-sm bg-primary-light text-xs w-4 aspect-square">E</span></li>
                        <li *ngFor="let artist of ($song | async)?.artists || []; index as i" class="inline"><span class="text-xs tracking-wide font-light hover:underline cursor-pointer pointer-events-all" [routerLink]="['/artist', artist.id]">{{ artist.name }}</span>{{ i + 1 < ($song | async)?.artists.length ? ", " : "" }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Media Controls Section -->
        <div class="flex items-center justify-center md:w-1/3 md:gap-1 p-2 md:p-0">
            <!-- Shuffle -->
            <span class="opacity-50 hidden sm:inline"><button mat-icon-button [ngClass]="{'text-accent': (audioService.$shuffle | async)}" (click)="audioService.toggleShuffle()"><i class="text-sm fa-solid fa-shuffle"></i></button></span>
            <!-- Prev -->
            <span class="opacity-80 hidden sm:inline"><button mat-icon-button [disabled]="true"><i class="fa-solid fa-backward-step"></i></button></span>

            <!-- Play button -->
            <asc-play-button [isPaused]="(audioService.$paused | async) || !($song | async)" (click)="audioService.togglePause()"></asc-play-button>

            <!-- Next -->
            <span class="opacity-80 hidden sm:inline"><button mat-icon-button [disabled]="(audioService.$queueSize | async) <= 0"><i class="fa-solid fa-forward-step" (click)="audioService.next()"></i></button></span>
            <!-- Loop -->
            <span class="opacity-50 hidden sm:inline"><button mat-icon-button [ngClass]="{'text-accent': (audioService.$loop | async)}" (click)="audioService.toogleLoop()"><i class="text-sm fa-solid fa-repeat"></i></button></span>
        </div>

        <!-- Duration + Queue -->
        <div class="hidden md:flex md:items-center md:justify-end md:w-1/3 p-2 gap-3 lg:gap-5 md:p-0">
            <p class="text-right text-xxs opacity-60 font-light">{{ (audioService.$currentTime | async) | songDurationPipe }} / {{ (($song | async)?.duration || 0) | songDurationPipe }}</p>
            
            <!-- Like button -->
            <asc-like-button [isLiked]="($song | async)?.liked" (click)="likeSong()" *ngIf="($song | async)"></asc-like-button>
            
            <button matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" [matRippleRadius]="16" [matRippleAnimation]="{ enterDuration: 100, exitDuration: 250 }" class="w-5 h-5 flex justify-center items-center"><i class="text-white-dark fa-solid fa-list"></i></button>
        
            <div class="w-24 lg:w-28" *ngIf="(deviceService.$breakpoint | async).isDesktop">
                <asc-volume-slider [volume]="(audioService.$volume | async)" (onVolume)="audioService.setVolume($event)"></asc-volume-slider>
            </div>
        </div>
    </div>
</div>
