<div class="block w-full bg-background-light bg-opacity-90 filter backdrop-blur-md relative">
    <asc-seeker class="absolute top-0 left-0 w-full" [(value)]="currentSeekValue" [duration]="($currentSong | async)?.duration"></asc-seeker>

    <div class="flex flex-1 p-4 px-6 items-center">
        <div class="w-12 h-12 border-2 rounded-lg overflow-hidden mr-3 shadow-lg"></div>

        <div class="inline-block w-64">
            <p class="font-bold line-clamp-1">{{ ($currentSong | async)?.title || "Unknown title" }}</p>
            <p class="text-sm opacity-80 line-clamp-1">{{ ($currentSong | async)?.artists | songArtistsJoin }}</p>
        </div>

        <div class="inline-flex items-center">
            <button *ngIf="isPaused" class="rounded-full w-11 h-11 inline-flex justify-center items-center" (click)="play()"><i class="fa-solid fa-play"></i></button>
            <button *ngIf="!isPaused" class="rounded-full w-11 h-11 inline-flex justify-center items-center" (click)="pause()"><i class="fa-solid fa-pause"></i></button>

            <p class="w-32 text-center text-sm text-opacity-70 font-light">{{ currentSeekValue | durationPipe }} / {{ (($currentSong | async)?.duration || 0) | durationPipe }}</p>
        </div>

        <div>
            <!--<p>Playing: {{ currentSrc }}</p>-->

            <audio #audio controls [src]="currentSrc" [currentTime]="currentSeekValue" (pause)="onPauseEvent()" (play)="onPlayEvent()" (ended)="onEndedEvent()" autoplay></audio>
        </div>
    </div>
    <!--<div class="flex flex-1 p-4 rounded-md bg-primary bg-player-gradient relative overflow-hidden items-center">

        <div class="w-12 h-12 border-2 rounded-lg overflow-hidden mr-3 shadow-lg">

        </div>

        <div class="inline-block w-64">
            <p class="font-bold">{{ ($currentSong | async)?.title || "Unknown title" }}</p>
            <p class="text-sm opacity-80">{{ ($currentSong | async)?.artists | songArtistsJoin }}</p>
        </div>

        <div>
            <p>Playing: {{ currentSrc }}</p>

            <audio controls [src]="currentSrc" autoplay></audio>
        </div>

        <input class="absolute bottom-0 left-0 w-full appearance-none bg-accent h-1 rounded-md transform-gpu origin-bottom transition-all hover:h-2 cursor-pointer" type="range" name="player_seek">
    </div>-->
</div>
