<ng-container *ngIf="($props | async) as props">
    <div class="relative w-full h-full overflow-hidden pointer-events-auto bg-body select-none" #container>
        <!-- Player Background -->
        <div class="absolute h-full w-full top-0 left-0 overflow-hidden z-10 pointer-events-none">
            <div *ngIf="!props.song?.youtubeUrl" class="w-full h-full overflow-hidden">
                <ng-container *ngTemplateOutlet="songArtwork"></ng-container>
            </div>
            <div class="absolute top-0 left-0 backdrop-blur-2xl w-full h-full z-20"></div>
        </div>

        <!-- Vignette -->
        <div class="vignette absolute h-full w-full top-0 left-0 overflow-hidden z-30 pointer-events-none"></div>
    
        <!-- Player content -->
        <div class="relative z-50 flex flex-col w-full md:container h-full overflow-hidden p-window md:p-12 mx-auto gap-4">
            <!-- Player top bar -->
            <div class="flex items-center justify-between md:justify-start gap-4">
                <div class="w-full md:w-max">
                    <span class="flex md:hidden relative items-center justify-start w-full" *ngIf="!props.isMobile">
                        <scngx-ibtn-text (click)="toggleMute()">
                            <ng-icon size="32px" name="heroSpeakerWave" *ngIf="!props.isMuted; else mutedIcon"></ng-icon>
                            <ng-template #mutedIcon><ng-icon size="32px" name="heroSpeakerXMark"></ng-icon></ng-template>
                        </scngx-ibtn-text>
    
                        <span class="inline-block pl-1 pr-2 -mt-1 max-w-28">
                            <scngx-range [max]="100" [current]="props.volume" (onChanged)="setVolume($event)"></scngx-range>
                        </span>
                    </span>
    
                    <div class="w-full md:w-16 hidden md:inline-block">
                        <img src="assets/branding/soundcore_logo_full.svg" class="w-16 h-16" [routerLink]="['/']">
                    </div>
                </div>
                
    
                <div class="text-center md:text-left flex-grow w-full">
                    <p class="text-base font-semi opacity-70">Wiedergabe von {{ props.owner?.type | playableEntityType }}</p>
                    <h5 *ngIf="props.owner">{{ props.owner.name }}</h5>
                </div>

                <div class="w-full text-right">
                    <scngx-ibtn-text class="hidden md:inline-block" (click)="closeBigPicture()">
                        <ng-icon name="heroXMarkSolid" size="32px"></ng-icon>
                    </scngx-ibtn-text>
                    <scngx-ibtn-text class="inline-block md:hidden" (click)="closeBigPicture()">
                        <ng-icon name="heroChevronDown" size="32px"></ng-icon>
                    </scngx-ibtn-text>
                </div>         
            </div>

            <!-- Placeholder content -->
            <div class="flex-shrink md:flex-grow"></div>

            <!-- Artwork and Song Info -->
            <div class="flex flex-col items-start justify-end flex-grow md:flex-shrink md:flex-row md:items-end md:justify-start gap-4">
                <div class="flex items-center justify-center text-center w-full flex-grow md:w-max md:flex-shrink">
                    <div class="w-4/5 max-w-80 sm:w-full aspect-square md:min-h-36 md:h-36 md:min-w-36 md:w-36 md:m-0 rounded-md overflow-hidden">
                        <ng-container *ngTemplateOutlet="songArtwork"></ng-container>
                    </div>
                </div>

                <div class="flex-shrink w-full md:flex-grow">
                    <scngx-explicit-badge *ngIf="props.song?.explicit" [extended]="true"></scngx-explicit-badge>
                    <p class="text-md sm:text-lg md:text-2xl font-bold line-clamp-1 break-words">{{ props.song?.name || "Unbekannter Titel" }}</p>
                    <ul class="line-clamp-1 w-full">
                        <li class="inline text-font text-opacity-70">
                            <span class="text-sm sm:text-base font-light md:text-md md:font-normal hover:underline pointer-events-all cursor-pointer" [routerLink]="props.song?.primaryArtist ? ['/artist', props.song?.primaryArtist?.slug || props.song?.primaryArtist?.id] : []">
                                {{ props.song?.primaryArtist.name ?? "Unbekannter Künstler" }}
                            </span>
                            {{ props.song?.featuredArtists.length > 0 ? ", " : "" }}
                        </li>
                        <li *ngFor="let artist of props.song?.featuredArtists; index as i" class="inline text-font text-opacity-70"><span class="text-sm hover:underline pointer-events-all cursor-pointer" [routerLink]="['/artist', artist.slug || artist.id]">{{ artist.name }}</span>{{ i + 1 < props.song.featuredArtists.length ? ", " : "" }}</li>
                    </ul>
                </div>
            </div>

            <!-- Seeker -->
            <div class="w-full md:pt-12">
                <div class="flex flex-col md:flex-row items-center justify-start w-full py-6 md:pb md:pt-0 row gap-4">
                    <span class="hidden md:inline-block"><ng-container *ngTemplateOutlet="durationLeft"></ng-container></span>
                    <span class="w-full md:w-max md:flex-grow -mt-1.5">
                        <scngx-seeker [size]="'large'" [duration]="props.song?.duration ?? 0" [current]="props.currentTime" (seek)="onSeek($event)"></scngx-seeker>
                    </span>
                    <span class="hidden md:inline-block"><ng-container *ngTemplateOutlet="durationRight"></ng-container></span>

                    <div class="flex md:hidden items-center justify-between w-full">
                        <ng-container *ngTemplateOutlet="durationLeft"></ng-container>
                        <ng-container *ngTemplateOutlet="durationRight"></ng-container>
                    </div>

                    <ng-template #durationLeft>
                        <p class="text-sm font-light md:text-base md:font-normal opacity-80">{{ props.currentTime | durationPipe }}</p>
                    </ng-template>
                    <ng-template #durationRight>
                        <p class="text-sm font-light md:text-base md:font-normal opacity-80">- {{ ((props.song?.duration ?? 0) - (props.currentTime ?? 0)) | durationPipe }}</p>
                    </ng-template>
                </div>

                <!-- Additional elements on mobile -->
                <div class="flex sm:hidden items-center justify-between w-full mt-2">
                    <ng-container *ngTemplateOutlet="likeButton"></ng-container>
                    <ng-container *ngTemplateOutlet="queueButton"></ng-container>
                </div>

                <!-- Player controls -->
                <div class="flex items-center justify-center sm:justify-start mt-2">
                    <div class="w-full hidden sm:block">
                        <ng-container *ngTemplateOutlet="likeButton"></ng-container>
                    </div>

                    <div class="inline-flex items-center justify-between sm:justify-center w-full gap-2">
                        <!-- Shuffle button -->
                        <scngx-ibtn-text (click)="toggleShuffle()">
                            <!-- featherShuffle -->
                            <ng-icon name="featherShuffle" size="26" [ngClass]="{'text-accent': props.shuffled}"></ng-icon>
                        </scngx-ibtn-text>
                        
                        <!-- Prev button -->
                        <scngx-ibtn-text class="">
                            <ng-icon name="heroBackward" size="32"></ng-icon>
                        </scngx-ibtn-text>
            
                        <!-- Play button -->
                        <scngx-ibtn size="lg" (click)="togglePlaying()">
                            <ng-icon *ngIf="!props.isPlaying" name="heroPlaySolid" size="32"></ng-icon>
                            <ng-icon *ngIf="props.isPlaying" name="heroPauseSolid" size="32"></ng-icon>
                        </scngx-ibtn>
            
                        <!-- Skip button -->
                        <scngx-ibtn-text (click)="skip()">
                            <ng-icon name="heroForward" size="32"></ng-icon>
                        </scngx-ibtn-text>

                        <!-- Repeat button -->
                        <scngx-ibtn-text>
                            <ng-icon name="heroArrowPathRoundedSquare" size="26" [strokeWidth]="1.5"></ng-icon>
                        </scngx-ibtn-text>
                    </div>

                    <div class="hidden sm:flex items-center justify-end w-full">     
                        <!-- Queue button -->
                        <ng-container *ngTemplateOutlet="queueButton"></ng-container>


                        <!-- Speaker button -->
                        <span class="hidden md:flex relative items-center justify-start" *ngIf="!props.isMobile">
                            <scngx-ibtn-text (click)="toggleMute()">
                                <ng-icon size="32px" name="heroSpeakerWave" *ngIf="!props.isMuted; else mutedIcon"></ng-icon>
                                <ng-template #mutedIcon><ng-icon size="32px" name="heroSpeakerXMark"></ng-icon></ng-template>
                            </scngx-ibtn-text>

                            <span class="inline-block pl-1 pr-2 -mt-1 max-w-28">
                                <scngx-range [max]="100" [current]="props.volume" (onChanged)="setVolume($event)"></scngx-range>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ng-template #likeButton>
        <scngx-ibtn-text class="pointer-events-auto" (click)="toggleLike($event, props.song)">
            <ng-icon name="heroHeartSolid" class="text-accent fill-accent" size="32px" *ngIf="props.song?.liked"></ng-icon>
            <ng-icon name="heroHeart" size="32px" *ngIf="!props.song?.liked"></ng-icon>
        </scngx-ibtn-text>
    </ng-template>

    <ng-template #queueButton>
        <scngx-ibtn-text (click)="toggleQueue()">
            <ng-icon name="heroRectangleStack" size="32px"></ng-icon>
        </scngx-ibtn-text>
    </ng-template>

    <ng-template #songArtwork>
        <scngx-artwork [artwork]="props.song?.artwork"></scngx-artwork>
    </ng-template>
</ng-container>