<div class="absolute w-full top-0 left-0">
    <mat-progress-bar  mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
</div>

<section *ngIf="!isLoading && !artist">
    <div class="flex justify-center items-center flex-col w-full p-10 text-left">
        <h1>
            <span class="text-sm w-full block text-accent-dark">404 Not Found</span>
            Whooops!
        </h1>

        <p class="mt-4">Die Playlist die du suchst konnte nicht gefunden werden.</p>
    </div>
</section>

<section *ngIf="!isLoading && !!artist">
    <section class="md:px-4 md:pt-4" [ngClass]="{'md:pb-36': !!bannerSrc}" [style]="'background: linear-gradient(180deg, ' + (bannerAccentColor || accentColor) + '50 0%, ' + (bannerAccentColor || accentColor) + '00 100%);'">
        <div class="inline-block w-full" [ngClass]="{'h-96': !!bannerSrc}">
            <div class="relative inline-block w-full items-center px-0 md:px-6 py-0 md:py-0 rounded-xl" [ngClass]="{'md:h-64 md:pt-20 md:shadow-md': !!bannerSrc}">
                
                <div class="absolute top-0 left-0 w-full h-full overflow-hidden rounded-xl hidden md:block" *ngIf="bannerSrc">
                    <div class="w-full h-full bg-center bg-cover bg-no-repeat bg-transparent z-0 filter brightness-50 blur-[2px]" [style]="bannerSrc ? 'background-image: url(' + bannerSrc + ');' : ''"></div>
                
                    <div class="absolute bottom-4 right-4 z-10">
                        <button class="py-3 px-4 rounded-full mr-2 bg-accent-dark text-background-dark text-xs transition-all"><i class="fa-solid fa-play"></i> Abspielen</button>
                        <button class="py-3 px-4 rounded-full bg-accent-dark text-background-dark text-xs transition-all"><i class="fa-solid fa-heart"></i> Folgen</button>
                    </div>
                </div>
                
                <div class="z-10 md:bottom-0 md:left-8 md:right-8 transform-gpu pointer-events-none" [ngClass]="{'md:absolute md:translate-y-2/3': !!bannerSrc}">
                    <div class="flex flex-1" [ngClass]="{'items-end': !!bannerSrc, 'items-center': !bannerSrc}">
                        <img [src]="coverSrc" class="w-full md:w-32 aspect-square rounded-xl shadow-md filter brightness-50 md:brightness-100">

                        <div class="z-30 p-4 w-full pointer-events-auto hidden md:block">
                            <p class="text-sm mb-0">Künstler</p>
                            <h2 class="line-clamp-1">{{ artist?.name }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="-mt-80 md:mt-4 relative" [ngClass]="{'md:-mt-36': !!bannerSrc}">

        <div class="px-4 pb-4 z-30 w-full pointer-events-auto block md:hidden">
            <p class="text-xs opacity-75">Künstler</p>
            <h4 class="line-clamp-2">{{ artist?.name }}</h4>
        </div>

        <div class="relative min-h-80 px-4 py-4 md:px-16 md:py-0 bg-background-dark md:bg-transparent rounded-3xl md:rounded-none overflow-hidden">
            <div class="md:hidden absolute top-0 left-0 right-0 h-16 pointer-events-none z-0" [style]="'background: linear-gradient(180deg, ' + (accentColor) + '20 0%, ' + (accentColor) + '00 100%);'" [ngClass]="{'md:pb-36': !!bannerSrc}"></div>

            <div class="block md:flex md:flex-1">
                <div class="flex-grow mr-6">
                    <h6 class="mb-4">Beliebte Songs</h6>
                    <asc-top-song-item *ngFor="let song of topSongs" [song]="song" [excludeArtistIds]="[artist?.id]"></asc-top-song-item>
                </div>
        
                <div class="w-full my-4 md:w-1/3 md:m-0">
                    <div class="my-4" *ngIf="artist?.description">
                        <p class="py-2 md:px-3">Über {{ artist?.name }}</p>
                    
                        <div class="w-full relative overflow-hidden h-44 bg-background bg-opacity-70 backdrop-blur-md border-2 border-primary-light border-opacity-20 rounded-lg">
                            <div class="inline-block w-full max-h-full overflow-hidden overflow-y-auto p-6">
                                <p class="text-sm tracking-wide leading-6 opacity-75">{{ artist?.description }}</p>
                            </div>
        
                            <div class="absolute -top-0.5 left-0 right-0 h-6" [style]="'background: linear-gradient(0deg, rgba(24, 28, 34, 0) 0%, rgba(24, 28, 34, 1) 100%);'"></div>
                            <div class="absolute -bottom-0.5 left-0 right-0 h-6" [style]="'background: linear-gradient(180deg, rgba(24, 28, 34, 0) 0%, rgba(24, 28, 34, 1) 100%);'"></div>
                        </div>
                    </div>

                    <div class="my-4">
                        <p class="py-2 md:px-3">Lieblingssongs</p>

                        <div class="flex items-center p-3 cursor-pointer bg-transparent border-2 border-transparent hover:border-opacity-50 hover:bg-background-light hover:bg-opacity-30 hover:border-primary-light hover:backdrop-blur-md active:bg-background active:bg-opacity-30 transition-all rounded-lg">
                            <div class="w-14 rounded-full aspect-square">
                                <img [src]="coverSrc" class="w-full h-full rounded-full pointer-events-none">
                            </div>

                            <div class="w-full px-2">
                                <p class="">Du hast % Lieder geliked.</p>
                                <p class="text-xs opacity-70">von {{ artist?.name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </section>
</section>