<div class="absolute w-full top-0 left-0 right-0 z-10">
    <mat-progress-bar  mode="indeterminate" color="accent" *ngIf="(artistLoadingState.$state | async)"></mat-progress-bar>
</div>

<div class="absolute left-0 top-0 w-full h-[50vh]" [style]="'background: linear-gradient(180deg, ' + (($artist | async)?.artwork?.accentColor) + '80 0%, ' + (($artist | async)?.artwork?.accentColor) + '00 100%);'"></div>

<asc-playlist-view (onPlay)="playOrPauseTopSongs()" [isPaused]="($isArtistPaused | async)" [likeable]="false" [followable]="true" [options]="{ type: 'artist', title: ($artist | async)?.name, artwork: ($artist | async)?.artwork }" *ngIf="!(artistLoadingState.$state | async) && !!($artist | async)">

    <!-- Quick info bar below title -->
    <div class="py-2 md:flex md:items-center" asc-stats>
        <ul class="flex md:inline-flex items-center gap-4">
            <li class="inline text-xs opacity-60">{{ ($artist | async)?.albumCount || 0 }} {{ ($artist | async)?.albumCount != 1 ? "Alben" : "Album" }}</li>
            <li class="inline text-xs opacity-60">{{ ($artist | async)?.songCount || 0 }} {{ ($artist | async)?.songCount != 1 ? "Songs" : "Song" }}</li>
            <li class="inline text-xs opacity-60">{{ ($artist | async)?.streamCount || 0 }} {{ ($artist | async)?.streamCount != 1 ? "Wiedergaben" : "Wiedergabe" }}</li>
        </ul>
    </div>

    <!-- Page contents -->
    <div asc-contents>
        <section class="mb-row">
            <div class="block md:flex md:flex-1 gap-12">
                <div class="flex-grow mr-6">
                    <h6 class="mb-4">Beliebte Songs</h6>
    
                    <asc-playable-list [list]="list" [showHeader]="false" [showDate]="false" [showAlbum]="false"></asc-playable-list>
                </div>
        
                <div class="w-full my-4 md:w-1/3 md:m-0 px-0">
    
                    <!-- Collection section -->
                    <div class="my-4">
                        <h6 class="py-2">Lieblingssongs</h6>
    
                        <div [routerLink]="['.', 'collection']" class="flex items-center p-3 gap-3 cursor-pointer bg-transparent border-2 border-transparent active:border-opacity-60 hover:bg-background-light hover:bg-opacity-80 active:border-primary-light hover:backdrop-blur-md active:bg-background active:bg-opacity-80 transition-all rounded-lg">
                            <div class="w-14 rounded-full overflow-hidden aspect-square">
                                <asc-artwork [artwork]="($artist | async)?.artwork" [showAccent]="false"></asc-artwork>
                            </div>
    
                            <div class="w-full">
                                <p class="">Du hast {{ ($artist | async)?.likedCount || 0 }} {{ (($artist | async)?.likedCount || 0) != 1 ? "Lieder" : "Lied" }} geliked.</p>
                                <p class="text-xs opacity-70">von {{ ($artist | async)?.name }}</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Genres section -->
                    <div class="my-4" *ngIf="($genres | async)?.totalElements > 0">
                        <h6 class="py-2">Genres</h6>
    
                        <div class="flex items-center flex-wrap gap-2">
                            <asc-label-badge *ngFor="let genre of ($genres | async)?.elements" [routerLink]="['.', 'genres', genre.id]">{{ genre.name }}</asc-label-badge>
                            <p *ngIf="($genres | async)?.elements.length < ($genres | async)?.totalElements" class="text-xs uppercase tracking-wide hover:underline cursor-pointer py-1.5 px-3" [routerLink]="['.', 'genres']">+{{ ($genres | async)?.totalElements - ($genres | async)?.elements.length }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</asc-playlist-view>

<section class="mb-row" *ngIf="($songs | async).elements.length > 0">
    <asc-horizontal-grid headline="Neuste Songs" [enableMore]="true" (onMore)="onMoreSongs()">
        <asc-song-grid-item *ngFor="let song of ($songs | async).elements" [song]="song"></asc-song-grid-item>
    </asc-horizontal-grid>
</section>

<section class="my-row" *ngIf="($albums | async).elements.length > 0">
    <asc-horizontal-grid headline="Alben" [enableMore]="true" (onMore)="onMoreAlbums()">
        <asc-album-grid-item *ngFor="let album of ($albums | async)?.elements" [album]="album" [routerLink]="['/album', album.slug || album.id]" [preferDate]="true"></asc-album-grid-item>
    </asc-horizontal-grid>
</section>

<section class="my-row" *ngIf="($featPlaylists | async).elements.length > 0">
    <asc-horizontal-grid headline="Enthalten in" [enableMore]="true" (onMore)="onMorePlaylists()">
        <asc-playlist-grid-item *ngFor="let playlist of ($featPlaylists | async).elements" [playlist]="playlist" [routerLink]="['/playlist', playlist.slug || playlist.id]"></asc-playlist-grid-item>
      </asc-horizontal-grid>
</section>

<section class="my-row" *ngIf="($featAlbums | async)?.elements.length > 0">
    <asc-horizontal-grid [headline]="'Alben mit ' + ($artist | async)?.name" [enableMore]="true" (onMore)="onMoreFeaturedAlbums()">
        <asc-album-grid-item *ngFor="let album of ($featAlbums | async).elements" [album]="album" [routerLink]="['/album', album.slug || album.id]"></asc-album-grid-item>
    </asc-horizontal-grid>
</section>