<div class="relative flex items-center justify-center w-full rounded-lg transition-all bg-background-light cursor-pointer border-2 border-transparent hover:border-primary-light p-4 h-14 active:bg-background-dark active:border-primary-light overflow-hidden">
    <div class="text-sm text-center">
        {{ genre.name }}
    </div>

    <div class="absolute bottom-0 left-1/2 transform-gpu -translate-x-1/2 h-[80%] w-[180%] pointer-events-none" style="background-image: radial-gradient(ellipse at bottom center, rgba(255, 255, 255,0.15) 0%, rgba(255,255,255,0) 60%)"></div>
</div>
