<scngx-drawer #drawer [rail]="false" *ngIf="!(screenService.$isTouch | async)">
    <div class="flex flex-col relative h-full" scngx-drawer>

        <!--<div>
            Test
            <p>Is Rail? {{ drawer.rail }}</p>
            <p>Is touch? {{ (screenService.$isTouch | async) }}</p>
        </div>-->

        <div class="block p-window">
            <div class="flex items-center w-full" [ngClass]="{'flex-col': drawer.rail}">
                <div class="w-1/2">
                    <img src="assets/branding/soundcore_logo_full.svg" class="min-w-10 max-w-10 h-10 block">
                </div>

                <div class="w-1/2 text-right">
                    <button class="inline-flex items-center justify-center bg-body-light rounded-full w-9 h-9 mr-1.5 transform-gpu transition-all will-change-transform active:scale-95"><hero-icon [name]="'chevron-down'" [class]="'h-5 w-5 transform-gpu rotate-90'"></hero-icon></button>
                    <button class="inline-flex items-center justify-center bg-body-light rounded-full w-9 h-9 transform-gpu transition-all will-change-transform active:scale-95"><hero-icon [name]="'chevron-down'" [class]="'h-5 w-5 transform-gpu -rotate-90'"></hero-icon></button>
                </div>
            </div>

            <div class="w-full mt-4" *ngIf="!drawer.rail">
                <input type="text" placeholder="Suchen" class="outline-none appearance-none w-full bg-body-light border border-transparent focus:border-font focus:border-opacity-30 transition-colors rounded-full text-sm py-3 px-4 placeholder:font-semi placeholder:text-font-secondary">
            </div>
        </div>

        <div class="block">
            <ul class="flex flex-col select-none">
                <li [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-accent opacity-100" class="relative flex gap-4 px-window py-3 cursor-pointer opacity-70 hover:opacity-100 transition-all"><hero-icon [name]="'home'" [class]="'h-6 w-6'"></hero-icon><span>Startseite</span></li>
                <li [routerLink]="['/library']" routerLinkActive="text-accent opacity-100" class="relative flex gap-4 px-window py-3 cursor-pointer opacity-70 hover:opacity-100 transition-all"><hero-icon [name]="'bookmark-alt'" [class]="'h-6 w-6'"></hero-icon><span>Bibliothek</span></li>
                <li [routerLink]="['/profile']" routerLinkActive="text-accent opacity-100" class="relative flex gap-4 px-window py-3 cursor-pointer opacity-70 hover:opacity-100 transition-all"><hero-icon [name]="'user'" [class]="'h-6 w-6'"></hero-icon><span>Dein Profil</span></li>
            </ul>
        </div>

        <div class="block border">
            
        </div>

        <div class="flex items-center gap-2 p-window">
            <div class="flex items-center justify-center min-w-11 max-w-11 h-11 bg-body-light rounded-full">

            </div>
            <div class="w-full">
                <p class="text-sm text-font-secondary -mb-0.5">Angemeldet als</p>
                <p class="font-semi">{{ (authService.$user | async).username }}</p>
            </div>
            <div class="flex items-center justify-center min-w-10 max-w-10 h-10 rounded-full">
                <hero-icon [name]="'chevron-down'" [class]="'h-5 w-5'"></hero-icon>
            </div>
        </div>

        

    </div>
    <div scngx-content>
        <router-outlet></router-outlet>
    </div>
</scngx-drawer>

<scngx-bottom-nav *ngIf="(screenService.$isTouch | async)">
    <scngx-nav-item [label]="'Home'" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        <hero-icon [name]="'home'" [class]="'h-5 w-5 transition-all'"></hero-icon>
    </scngx-nav-item>
    <scngx-nav-item [label]="'Suchen'" [routerLink]="['/settings']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
        <hero-icon [name]="'search'" [class]="'h-5 w-5 transition-all'"></hero-icon>
    </scngx-nav-item>
    <scngx-nav-item [label]="'Bibliothek'" [routerLink]="['/library']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
        <hero-icon [name]="'bookmark-alt'" [class]="'h-5 w-5 transition-all'"></hero-icon>
    </scngx-nav-item>
</scngx-bottom-nav>
