<!-- Navigation status loading bar -->
<div class="fixed w-full top-0 left-0 z-[1000000000000000000]" *ngIf="isNavigating">
    <scngx-progressbar [transparent]="true"></scngx-progressbar>
</div>

<!-- Layout - Drawer -->
<scngx-drawer #drawer [rail]="false" *ngIf="!(screenService.$isTouch | async)">
    <!-- Drawer sections -->
    <div class="flex flex-col relative h-full" scngx-drawer>

        <!--<div>
            Test
            <p>Is Rail? {{ drawer.rail }}</p>
            <p>Is touch? {{ (screenService.$isTouch | async) }}</p>
        </div>-->

        <div class="block p-window pb-0">
            <div class="flex items-center w-full" [ngClass]="{'flex-col': drawer.rail}">
                <div class="w-1/2">
                    <img src="assets/branding/soundcore_logo_full.svg" class="min-w-10 max-w-10 h-10 block cursor-pointer" [routerLink]="['/']">
                </div>

                <div class="w-1/2 text-right">
                    <button (click)="navigateBack()" class="inline-flex items-center justify-center bg-body-light rounded-full w-9 h-9 mr-1.5 transform-gpu transition-all will-change-transform active:scale-95"><hero-icon [name]="'chevron-down'" [class]="'h-5 w-5 transform-gpu rotate-90'"></hero-icon></button>
                    <button (click)="navigateNext()" class="inline-flex items-center justify-center bg-body-light rounded-full w-9 h-9 transform-gpu transition-all will-change-transform active:scale-95"><hero-icon [name]="'chevron-down'" [class]="'h-5 w-5 transform-gpu -rotate-90'"></hero-icon></button>
                </div>
            </div>

            <div class="w-full mt-row" *ngIf="!drawer.rail">
                <input type="text" placeholder="Suchen" class="outline-none appearance-none w-full bg-body-light border border-transparent focus:border-font focus:border-opacity-30 transition-colors rounded-full text-sm py-3 px-4 placeholder:font-semi placeholder:text-font-secondary" (click)="navigateToSearch()">
            </div>
        </div>

        <hr class="my-row bg-divider min-h-[3px] max-h-[3px] rounded-full appearance-none border-none w-[90%] mx-auto">

        <div class="block">
            <ul class="flex flex-col select-none">
                <li [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="text-accent" class="relative flex gap-4 px-window py-3 cursor-pointer hover:opacity-100 transition-all"><hero-icon [name]="'home'" [class]="'h-6 w-6'"></hero-icon><span>Startseite</span></li>
                <li [routerLink]="['/library']" routerLinkActive="text-accent" class="relative flex gap-4 px-window py-3 cursor-pointer hover:opacity-100 transition-all"><hero-icon [name]="'bookmark-alt'" [class]="'h-6 w-6'"></hero-icon><span>Bibliothek</span></li>
                <li [routerLink]="['/profile']" routerLinkActive="text-accent" class="relative flex gap-4 px-window py-3 cursor-pointer hover:opacity-100 transition-all"><hero-icon [name]="'user'" [class]="'h-6 w-6'"></hero-icon><span>Dein Profil</span></li>
            </ul>
        </div>

        <hr class="mt-row bg-divider min-h-[3px] max-h-[3px] rounded-full appearance-none border-none w-[90%] mx-auto">

        <div class="block h-full overflow-hidden overflow-y-scroll py-row">
            <li [routerLink]="['/collection']" routerLinkActive="text-accent" class="relative flex items-center gap-4 px-window py-3 cursor-pointer hover:opacity-100 transition-all">
                <div class="inline-block min-w-8 max-w-8 h-8 rounded-sm overflow-hidden">
                    <img src="assets/img/collection_cover.png"> 
                </div>
                <div class="w-full line-clamp-1">
                    Lieblingssongs
                </div>
            </li>

            <div cdkDropList class="list" (cdkDropListDropped)="onPlaylistItemDrop($event)">
                <div *ngFor="let playlist of (playlistService.$playlists | async)" cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".list">
                    <scngx-playlist-list-item class="cursor-pointer" [playlist]="playlist" [routerLink]="['/playlist', playlist.slug || playlist.id]" routerLinkActive="text-accent"></scngx-playlist-list-item>
                </div>
            </div>
        </div>

        <hr class="mb-row bg-divider min-h-[3px] max-h-[3px] rounded-full appearance-none border-none w-[90%] mx-auto">

        <div class="flex items-center gap-2 p-window pt-0">
            <div class="flex items-center justify-center min-w-11 max-w-11 h-11 bg-body-light rounded-full">

            </div>
            <div class="w-full">
                <p class="text-sm text-font-secondary -mb-0.5">Angemeldet als</p>
                <p class="font-semi">{{ (authService.$user | async).username }}</p>
            </div>
            <div class="flex items-center justify-center min-w-10 max-w-10 h-10 rounded-full">
                <hero-icon [name]="'chevron-down'" [class]="'h-5 w-5'"></hero-icon>
            </div>
        </div>
    </div>

    <!-- Page contents -->
    <div class="h-full overflow-hidden" scngx-content>
        <router-outlet></router-outlet>
    </div>
</scngx-drawer>

<!-- Layout - Mobile -->
<scngx-bottom-nav *ngIf="(screenService.$isTouch | async)">
    <!-- Bottom navigation items -->
    <scngx-nav-item [label]="'Home'" [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        <hero-icon [name]="'home'" [class]="'h-5 w-5 transition-all'"></hero-icon>
    </scngx-nav-item>
    <scngx-nav-item [label]="'Suchen'" [routerLink]="['/search']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
        <hero-icon [name]="'search'" [class]="'h-5 w-5 transition-all'"></hero-icon>
    </scngx-nav-item>
    <scngx-nav-item [label]="'Bibliothek'" [routerLink]="['/library']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
        <hero-icon [name]="'bookmark-alt'" [class]="'h-5 w-5 transition-all'"></hero-icon>
    </scngx-nav-item>

    <!-- Page contents -->
    <div scngx-content>
        <router-outlet></router-outlet>
    </div>
</scngx-bottom-nav>
