<ng-container *ngIf="($props | async) as props">
    <app-error404 *ngIf="!props.loading && !props.artist"></app-error404>

    <div class="flex flex-grow flex-col w-full h-full">
        <div class="w-full">
            <div class="bg-body sticky top-0 z-50 p-window" [ngClass]="{'shadow-md border-b border-opacity-70 border-b-body-lighter': (scroller.scrolledIndexChange | async) > 0}">
                <div class="flex items-center justify-start flex-1 gap-4">
                    <div class="">
                        <scngx-skeleton class="w-7 h-7 rounded-full" *ngIf="props.loading"></scngx-skeleton>            
                        <scngx-ibtn *ngIf="!props.loading" (click)="forcePlay(props.tracklist)" size="md">
                            <img *ngIf="!props.playing; else paused" class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                            <ng-template #paused><img *ngIf="props.playing" class="w-7 h-7 text-body ml-0.5" src="assets/icons/pause.svg"></ng-template>
                        </scngx-ibtn>
                    </div>
                    <div class="">
                        <scngx-skeleton *ngIf="props.loading" [class]="'w-1/4 h-12'"></scngx-skeleton>
                        <scngx-ui-title *ngIf="!props.loading" [route]="['..']">
                            {{ props.artist?.name }}
                            <div scngxSubtitle>Die komplette Künstler-Kollektion</div>
                        </scngx-ui-title>
                    </div>
                </div>
            </div>
        </div>

        <cdk-virtual-scroll-viewport [itemSize]="56" class="w-full h-full" #scroller>
            <div class="flex items-center justify-start gap-4 pb-row px-window">
                <scngx-chip>{{ props.artist?.songCount ?? 0 }} Songs</scngx-chip>
                <scngx-chip>{{ props.artist?.streamCount ?? 0 }} Streams in 30 Tagen</scngx-chip>
                <scngx-chip>{{ props.artist?.streamCount ?? 0 }} Alben</scngx-chip>
            </div>
        
            <div class="px-window">
                <div *cdkVirtualFor="let item of props.tracklist; index as i">
                    <scngx-song-list-item
                        [song]="item"
                        [index]="i"
                        [active]="props.currentlyPlaying?.song?.id == item?.id"
                        [playing]="props.playing"
                        [animRef]="lottieAnimationTemplate"
                        (onPlay)="forcePlayAtSong(props.tracklist, i)">
                    </scngx-song-list-item>
                </div>
            </div>
        
            <div class="pb-bottom"></div>
        </cdk-virtual-scroll-viewport>
    </div>
</ng-container>

<ng-template #lottieAnimationTemplate>
    <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
</ng-template>

<ng-template #songContextMenu let-data>
    <app-song-context-menu [song]="data.song" [playlist]="data.playlist" [tracklist]="data.tracklist"></app-song-context-menu>
</ng-template>