<ng-container *ngIf="($props | async) as props">

    <div class="w-full h-full overflow-y-auto" #viewport>
        <div class="bg-body sticky top-0 z-50 p-window">
            <div class="flex items-center justify-start flex-1 gap-4">
                <div class="">
                    <scngx-skeleton class="w-7 h-7 rounded-full" *ngIf="props.loading"></scngx-skeleton>
        
                    <scngx-ibtn *ngIf="!props.loading" (click)="forcePlay(props.tracklist)" size="md">
                        <img *ngIf="!props.playing; else paused" class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                        <ng-template #paused><img *ngIf="props.playing" class="w-7 h-7 text-body ml-0.5" src="assets/icons/pause.svg"></ng-template>
                    </scngx-ibtn>
                </div>
                <div class="">
                    <scngx-skeleton *ngIf="props.loading" [class]="'w-1/4 h-12'"></scngx-skeleton>
                    <scngx-ui-title *ngIf="!props.loading" [route]="['..']" [subtitle]="'Die komplette Künstler-Kollektion'">{{ props.artist?.name }}</scngx-ui-title>
                </div>
            </div>
        </div>
        
        <div class="flex items-center justify-start gap-4 pb-row px-window">
            <scngx-chip>{{ props.artist?.songCount ?? 0 }} Songs</scngx-chip>
            <scngx-chip>{{ props.artist?.streamCount ?? 0 }} Streams in 30 Tagen</scngx-chip>
            <scngx-chip>{{ props.artist?.streamCount ?? 0 }} Alben</scngx-chip>
        </div>

        <ng-container *ngIf="props.tracklist">
            <div class="px-window" *uiScroll="let song of props.tracklist; index as i">
                <scngx-song-list-item
                    [song]="song"
                    [index]="i"
                    [active]="props.currentlyPlaying?.song?.id == song.id"
                    [playing]="props.playing"
                    [animRef]="lottieAnimationTemplate"
                    (onPlay)="forcePlayAtSong(props.tracklist, i)">
                </scngx-song-list-item>
            </div>
        </ng-container>

        <div class="pb-bottom"></div>
    </div>

</ng-container>

<ng-template #lottieAnimationTemplate>
    <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
</ng-template>