<ng-container *ngIf="($props | async) as props">
    <div class="relative w-full h-full" cdkVirtualScrollingElement>
        <!-- 404 -->
        <app-error404 *ngIf="!props.artist.loading && !props.artist.data; else content" [title]="'Künstler nicht gefunden'"></app-error404>
        
        <!-- Page -->
        <ng-template #content>
            <!-- Page Header -->
            <div class="bg-body sticky top-0 z-50 p-window" [ngClass]="{'shadow-md border-b border-opacity-70 border-b-body-lighter': (list.$scrolledIndexChanged| async) > 0}">
                <div class="flex items-center justify-start flex-1 gap-4">
                    <div class="">
                        <scngx-skeleton class="w-7 h-7 rounded-full" *ngIf="props.artist.loading"></scngx-skeleton>            
                        <scngx-ibtn *ngIf="!props.artist.loading" (click)="forcePlay(props.artist.data)" size="md">
                            <img *ngIf="!props.isPlaying; else paused" class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                            <ng-template #paused><img *ngIf="props.isPlaying" class="w-7 h-7 text-body ml-0.5" src="assets/icons/pause.svg"></ng-template>
                        </scngx-ibtn>
                    </div>
                    <div class="">
                        <scngx-skeleton *ngIf="props.artist.loading" [class]="'w-1/4 h-12'"></scngx-skeleton>
                        <scngx-ui-title *ngIf="!props.artist.loading" [route]="['..']">
                            {{ props.artist.data?.name }}
                            <div scngxSubtitle>Die komplette Künstler-Kollektion</div>
                        </scngx-ui-title>
                    </div>
                </div>
            </div>

            <!-- Stats bar -->
            <div class="flex items-center justify-start gap-4 pb-row px-window">
                <scngx-chip>{{ props.artist.data?.songCount ?? 0 }} Songs</scngx-chip>
                <scngx-chip>{{ props.artist.data?.streamCount ?? 0 }} Streams in 30 Tagen</scngx-chip>
                <scngx-chip>{{ props.artist.data?.albumCount ?? 0 }} Alben</scngx-chip>
            </div>

            <!-- Songs list -->
            <scngx-song-list 
                #list
                [datasource]="($datasource | async)" 
                [owner]="props.artist.data"
                [useParentScroll]="true">
            </scngx-song-list>
            <div class="pb-bottom"></div>
        </ng-template>
    </div>
</ng-container>

<ng-template #lottieAnimationTemplate>
    <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
</ng-template>

<ng-template #songContextMenu let-data>
    <app-song-context-menu [song]="data.song" [owner]="data.owner" [index]="data.index"></app-song-context-menu>
</ng-template>