<table class="w-full" cdk-table [dataSource]="dataSource" recycleRows [trackBy]="trackBySongId">
  <!-- Nr col -->
  <ng-container cdkColumnDef="nr">
    <th cdk-header-cell *cdkHeaderCellDef scope="col" class="text-xs px-2.5 py-4 tracking-wide opacity-70 text-center w-11 sm:table-cell hidden">#</th>
    <td cdk-cell *cdkCellDef="let element; let i = index" class="text-center relative sm:table-cell hidden">
        
        <div class="play-btn z-10 transition-all transform-gpu absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 will-change-transform rounded-full bg-accent-dark shadow-lg text-background w-7 h-7 overflow-hidden flex justify-center items-center" (click)="playOrPause(element)">
            <i class="fa-solid fa-play text-xxs" *ngIf="(audioService.$currentSong | async)?.id != element.id"></i>
            <i class="fa-solid fa-play text-xxs" *ngIf="(audioService.$paused | async) && (audioService.$currentSong | async)?.id == element.id"></i>
            <i class="fa-solid fa-pause text-xxs" *ngIf="!(audioService.$paused | async) && (audioService.$currentSong | async)?.id == element.id"></i>
        </div>

        <div class="transform absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-9 pointer-events-none text-center" *ngIf="(audioService.$currentSong | async)?.id == element.id && !(audioService.$paused | async)">
            <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
        </div>

        <span class="opacity-70" [ngClass]="{'text-accent-dark drop-shadow-sm': (audioService.$currentSong | async)?.id == element.id}" *ngIf="(audioService.$currentSong | async)?.id != element.id || (audioService.$paused | async)">{{ i + 1 }}</span>
        <div class="absolute z-30 top-0 left-0 right-0 bottom-0 pointer-events-auto lg:hidden" (click)="playOrPause(element)"></div>
    
    </td>
  </ng-container>

  <!-- Title col -->
  <ng-container cdkColumnDef="title">
    <th cdk-header-cell *cdkHeaderCellDef scope="col" class="text-xs px-2.5 py-4 tracking-wide opacity-70 text-left">Titel</th>
    <td cdk-cell *cdkCellDef="let element" class="text-left px-2.5 pl-0 py-1.5">

        <div class="flex items-center h-full align-middle">
                    
            <div class="w-11 aspect-square rounded-sm overflow-hidden" *ngIf="showCover">
                <asc-artwork class="inline-block align-middle w-10 aspect-square" [artwork]="element?.artwork" [showAccent]="false"></asc-artwork>
            </div>
            
            <div class="w-full px-2.5">
                <p class="font-bold text-sm line-clamp-1" [ngClass]="{'text-accent-dark drop-shadow-sm': (audioService.$currentSong | async)?.id == element.id}">{{ element.title }}</p>
                <div class="line-clamp-1 opacity-60">
                    <ul>
                        <li *ngIf="element.explicit" class="inline"><span class="inline-flex font-light mr-1 items-center justify-center rounded-sm bg-primary-light text-xs w-4 aspect-square">E</span></li>
                        <li *ngFor="let artist of element.artists; index as i" class="inline"><span class="text-xs hover:underline leading-3 pointer-events-all cursor-pointer" [routerLink]="['/artist', artist.id]">{{ artist.name }}</span>{{ i + 1 < element.artists.length ? ", " : "" }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="absolute z-30 top-0 left-0 right-0 bottom-0 pointer-events-auto lg:hidden" (click)="playOrPause(element)"></div>

    </td>
  </ng-container>

  <!-- Streamcount col -->
  <ng-container cdkColumnDef="streamCount" *ngIf="showCount">
    <th cdk-header-cell *cdkHeaderCellDef scope="col" class="text-xs px-2.5 py-4 tracking-wide opacity-70 text-right hidden md:table-cell">Wiedergaben</th>
    <td cdk-cell *cdkCellDef="let element" class="px-2.5 py-2 text-right hidden md:table-cell">

        <div class="absolute z-30 top-0 left-0 right-0 bottom-0 pointer-events-auto lg:hidden" (click)="playOrPause(element)"></div>
        <span class="text-xs opacity-80 line-clamp-1">{{ element.streamCount || 0 }}</span>

    </td>
  </ng-container>

  <!-- Album col -->
  <ng-container cdkColumnDef="album" *ngIf="showAlbum">
    <th cdk-header-cell *cdkHeaderCellDef scope="col" class="text-xs px-2.5 py-4 tracking-wide opacity-70 text-right hidden md:table-cell">Album</th>
    <td cdk-cell *cdkCellDef="let element" class="px-2.5 py-2 text-right hidden md:table-cell">
        <div class="absolute z-30 top-0 left-0 right-0 bottom-0 pointer-events-auto lg:hidden" (click)="playOrPause(element)" *ngIf="element?.albums?.length <= 0"></div>
        <span class="text-xs opacity-80 line-clamp-1 hover:underline" *ngIf="element?.albums?.length > 0" [routerLink]="['/album', element.albums[0].id]">{{ element.albums[0].title }}</span>
    </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container cdkColumnDef="date" *ngIf="showDate">
    <th cdk-header-cell *cdkHeaderCellDef scope="col" class="text-xs px-2.5 py-4 tracking-wide opacity-70 text-right hidden lg:table-cell">Hinzugefügt am</th>
    <td cdk-cell *cdkCellDef="let element" class="px-2.5 py-2 text-right hidden lg:table-cell">
        <div class="absolute z-30 top-0 left-0 right-0 bottom-0 pointer-events-auto lg:hidden" (click)="playOrPause(element)"></div>
        <span class="text-xs opacity-80 line-clamp-1" *ngIf="element.song2playlist || element.likedAt">{{ (element.song2playlist || element.likedAt) | addedToPlaylist }}</span>
    </td>
  </ng-container>

  <!-- Liked Column -->
  <ng-container cdkColumnDef="liked">
    <th cdk-header-cell *cdkHeaderCellDef scope="col"  class="text-xs px-2.5 py-4 tracking-wide opacity-70 text-center w-11"></th>
    <td cdk-cell *cdkCellDef="let element" class="text-center">
        <button class="row-btn transition-all" [ngClass]="{'active': element?.isLiked}" mat-icon-button (click)="likeSong(element)">
            <i class="fa-regular fa-heart" *ngIf="!element?.isLiked"></i>
            <i class="fa-solid fa-heart text-accent-dark" *ngIf="element?.isLiked"></i>
        </button>
    </td>
  </ng-container>

  <!-- Duration Column -->
  <ng-container cdkColumnDef="duration">
    <th cdk-header-cell *cdkHeaderCellDef scope="col" class="text-xs px-2.5 py-4 tracking-wide opacity-70 text-right w-16 hidden sm:table-cell">Dauer</th>
    <td cdk-cell *cdkCellDef="let element" class="px-2.5 py-2 text-right hidden sm:table-cell">
        <div class="absolute z-30 top-0 left-0 right-0 bottom-0 pointer-events-auto lg:hidden" (click)="playOrPause(element)"></div>
        <span class="text-xs opacity-80 line-clamp-1">{{ element.duration | songDurationPipe }}</span>
    </td>
  </ng-container>

  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="no-effect"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns;" class="cursor-pointer" (contextmenu)="songMenu.open($event, row, playlistContext)"></tr>
</table>

<div class="flex items-center mt-2" *ngIf="showMore">
    <button class="py-2 px-3 rounded-md transition-all hover:bg-background hover:bg-opacity-60 active:bg-background-light active:border-opacity-30 active:bg-opacity-60 transform-gpu will-change-transform active:scale-95" (click)="onMore.emit()"><span class="text-xs tracking-wide text-white-dark">Mehr Laden</span></button>
</div>

<asc-song-context-menu [isPlayable]="true" #songMenu></asc-song-context-menu>