node_modules
./**/databases
./**/dist
./**/.env
./**/.env.dev

.angular
.vscode

./**/docker-compose.yml
./**/ecosystem.config.js

packages/soundcore-*
apps/app
config/tailwind-config
config/eslint-config-custom