<div 
    [style.height]="itemHeight + 'px'"
    class="flex flex-1 items-center justify-start gap-4 rounded-sm w-full h-full px-3 pointer-events-none select-none"
    [ngClass]="{'hover:border-opacity-100 active:border-opacity-100 border border-body-lighter border-opacity-0 transition-all bg-opacity-0 hover:bg-opacity-30 bg-body-light cursor-pointer pointer-events-auto active:bg-opacity-50': !!task}">
        
    <!-- Task Status -->
    <div class="h-7 min-w-7 w-7 rounded-sm overflow-hidden">
        <ng-icon name="heroQueueList" size="22" class="opacity-60" *ngIf="task?.status == 'enqueued'"></ng-icon>
        <ng-icon name="heroArrowPath" size="22" class="text-accent animate-spin" *ngIf="task?.status == 'working'"></ng-icon>
        <ng-icon name="heroXCircle" size="22" class="text-error-light" *ngIf="task?.status == 'failed'"></ng-icon>
        <ng-icon name="heroExclamationTriangle" size="22" class="text-warn-light" *ngIf="task?.status == 'aborted'"></ng-icon>
        <ng-icon name="heroCheckCircle" size="22" class="text-success-light" *ngIf="task?.status == 'completed'"></ng-icon>
    </div>

    <!-- Task description -->
    <div class="flex-grow overflow-hidden">
        <p class="line-clamp-1">{{ task?.name }}</p>
        <p class="text-sm opacity-60 line-clamp-1">{{ task?.description }}</p>
    </div>
</div>
