<div class="p-window w-full select-none">
    <div class="flex flex-col items-center justify-center">
        <div class="w-72 opacity-60" lottie [options]="options"></div>
    
        <div class="flex flex-col items-center opacity-70 -mt-8">
            <h3 class="text-center mb-row">{{ title ?? "Ziemlich leer hier" }}</h3>
            <p class="text-center opacity-70 w-96">{{ message ?? "Sieht so aus, als wärst du auf einer Seite ohne verfügbare Daten gelandet." }}</p>
        </div>
    </div>
</div>