
<ng-container *ngIf="($props | async) as props">
    <section class="h-full w-full overflow-hidden overflow-y-auto" #page>

        <div class="w-full">
            <!-- Toolbar with search input -->
            <scngx-toolbar [showNavigation]="false" [transparent]="true" class="block lg:hidden">
                <div class="flex items-center ">
                    <input type="text" [formControl]="searchInputControl" placeholder="Suchen" class="outline-none appearance-none w-full bg-body-light border border-transparent focus:border-font focus:border-opacity-30 transition-colors rounded-full text-sm py-3 px-4 placeholder:font-semi placeholder:text-font-secondary" >
                </div>
            </scngx-toolbar>
    
            <!-- Show last query results -->
            <section *ngIf="!props.query; else searchHitsPage">
                <scngx-ui-row [headline]="'Letzte Suchanfragen'" *ngIf="props.history.length > 0">
                    <scngx-horizontal-list>
                        <ng-container *ngFor="let item of props.history">
                            <scngx-artist-grid-item *ngIf="item.resourceType == 'artist'" [item]="$any(item)" (click)="routeToResult(['/artist', item.slug || item.id], item)"></scngx-artist-grid-item>
                            <scngx-album-grid-item *ngIf="item.resourceType == 'album'" [item]="$any(item)" (click)="routeToResult(['/album', item.slug || item.id], item)"></scngx-album-grid-item>
                            <scngx-playlist-grid-item *ngIf="item.resourceType == 'playlist'" [item]="$any(item)" (click)="routeToResult(['/playlist', item.slug || item.id], item)"></scngx-playlist-grid-item>
                            <scngx-profile-grid-item *ngIf="item.resourceType == 'user'" [item]="$any(item)" (click)="routeToResult(['/profile', item.slug || item.id], item)"></scngx-profile-grid-item>
                            <song-grid-item [sccdkContext]="songContextMenu" [sccdkContextData]="item" *ngIf="item.resourceType == 'song'" [item]="$any(item)" (click)="routeToResult(['/song', item.slug || item.id], item)"></song-grid-item>
                        </ng-container>
                    </scngx-horizontal-list>
                </scngx-ui-row>
    
                <scngx-ui-row [headline]="'Meistgehörte Genres'">
    
                </scngx-ui-row>
            </section>

            <!-- Query results if query exists -->
            <ng-template #searchHitsPage>
                <!-- Display query -->

                <scngx-ui-section-title class="block p-window pb-0">
                    Ergebnisse für "{{ props.query }}"
                </scngx-ui-section-title>

                <scngx-ui-row [headline]="'Songs'" *ngIf="props.hits.songs.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-list>
                            <ng-container *ngFor="let item of props.hits.songs">
                                <song-grid-item 
                                    [item]="$any(item)"
                                    [sccdkContext]="songContextMenu" 
                                    [sccdkContextData]="item" 
                                    (click)="routeToResult(['/song', item.slug || item.id], item)">
                                </song-grid-item>
                            </ng-container>
                        </scngx-horizontal-list>
                    </div>
                </scngx-ui-row>

                <scngx-ui-row [headline]="'Künstler'" *ngIf="props.hits.artists.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-list>
                            <ng-container *ngFor="let item of props.hits.artists">
                                <scngx-artist-grid-item 
                                    [item]="item"
                                    (click)="routeToResult(['/artist', item.slug || item.id], item)">
                                </scngx-artist-grid-item>
                            </ng-container>
                        </scngx-horizontal-list>
                    </div>
                </scngx-ui-row>

                <scngx-ui-row [headline]="'Alben'" *ngIf="props.hits.albums.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-list>
                            <ng-container *ngFor="let item of props.hits.albums">
                                <scngx-album-grid-item 
                                    [item]="item"
                                    (click)="routeToResult(['/album', item.slug || item.id], item)">
                                </scngx-album-grid-item>
                            </ng-container>
                        </scngx-horizontal-list>
                    </div>
                </scngx-ui-row>

                <scngx-ui-row [headline]="'Playlists'" *ngIf="props.hits.playlists.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-list>
                            <ng-container *ngFor="let item of props.hits.playlists">
                                <scngx-playlist-grid-item 
                                    [item]="item"
                                    (click)="routeToResult(['/playlist', item.slug || item.id], item)">
                                </scngx-playlist-grid-item>
                            </ng-container>
                        </scngx-horizontal-list>
                    </div>
                </scngx-ui-row>

                <scngx-ui-row [headline]="'Nutzerprofile'" *ngIf="props.hits.users.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-list>
                            <ng-container *ngFor="let item of props.hits.users">
                                <scngx-profile-grid-item 
                                    [item]="item"
                                    (click)="routeToResult(['/profile', item.slug || item.id], item)">
                                </scngx-profile-grid-item>
                            </ng-container>
                        </scngx-horizontal-list>
                    </div>
                </scngx-ui-row>

                <div class="pb-bottom"></div>
            </ng-template>
        </div>
    </section>
</ng-container>

<ng-template #songContextMenu let-song>
    <app-song-context-menu [song]="song">
        <sccdk-context-menu-category>
            <sccdk-context-menu-item (click)="removeFromSearch(song)">
                <span>Aus Suchverlauf entfernen</span>
            </sccdk-context-menu-item>
        </sccdk-context-menu-category>
    </app-song-context-menu>
</ng-template>