<app-error404 *ngIf="!($loading | async) && !($artist | async)"></app-error404>

<section class="w-full h-full pb-window overflow-y-auto" #pageScroll>
    <virtual-scroller #pageScroll [parentScroll]="pageScroll" [enableUnequalChildrenSizes]="true">
        
        <div>
            <app-list-view [resource]="($artist | async)" [title]="($artist | async)?.name" [artwork]="($artist | async)?.artwork" [isLoading]="($loading | async)">
                <ng-container scngx-stats>
                    <li class="text-font-secondary">
                        <span>{{ ($artist | async)?.albumCount || 0 }} Alben</span>
                    </li>
                    <li class="text-font-secondary">
                        <span>{{ ($artist | async)?.songCount || 0 }} Songs</span>
                    </li>
                    <li class="text-font-secondary">
                        <span>{{ ($artist | async)?.streamCount || 0 }} Streams</span>
                    </li>
                </ng-container>
        
                <ng-container scngx-controls>
                    <button class="w-14 flex items-center justify-center aspect-square bg-accent transition-all will-change-transform text-body rounded-full hover:scale-105 active:scale-[97%]">
                        <img class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                    </button>
        
                    <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                        <hero-icon [name]="'dots-vertical'" [class]="'h-7 aspect-square'"></hero-icon>
                    </button>
                </ng-container>
            </app-list-view>
        </div>

        <div class="flex gap-row items-start w-full px-window flex-col lg:flex-row">
            <div class="relative w-full lgflex-grow">
                <h6 *ngIf="!($loading | async)">Beliebte Songs</h6>
                <scngx-skeleton *ngIf="($loading | async)" [class]="'w-44 max-w-[90%] h-7'"></scngx-skeleton>

                <div class="mt-4">
                    <scngx-virtual-song-list [useMaxHeight]="true" [showSkeleton]="($loading | async)" [skeletons]="5" [parentScroll]="pageScroll" [columns]="songListCols" [dataSource]="($list | async)?.$dataSource | async"></scngx-virtual-song-list>
                </div>
            </div>

            <div>
                <h6>Lieblingssongs</h6>
            </div>
        </div>

        <!-- Albums -->
        <scngx-ui-row [headline]="'Alben'" [route]="['./albums']">
            
            <div class="w-full">
                <scngx-horizontal-grid [items]="($albums | async)">
                        <ng-container *ngFor="let item of ($albums | async)">
                            <scngx-album-grid-item 
                                [item]="item" 
                                [routerLink]="['/album', item.slug || item.id]">
                            </scngx-album-grid-item>
                        </ng-container>
                </scngx-horizontal-grid>
            </div>
        </scngx-ui-row>

        <!-- Featured in playlists -->
        <scngx-ui-row [headline]="'Enthalten in'" [route]="['./playlists']">
            
            <div class="w-full">
                <scngx-horizontal-grid [items]="($featPlaylists | async)">
                        <ng-container *ngFor="let item of ($featPlaylists | async)">
                            <scngx-playlist-grid-item
                                [item]="item"
                                [routerLink]="['/playlist', item?.slug || item?.id]">
                            </scngx-playlist-grid-item>
                        </ng-container>
                </scngx-horizontal-grid>
            </div>
        </scngx-ui-row>

        <!-- Featured in album -->
        <scngx-ui-row [headline]="'Alben mit ' + ($artist | async)?.name" [route]="['./playlists']">
            
            <div class="w-full">
                <scngx-horizontal-grid [items]="($albums | async)">
                        <ng-container *ngFor="let item of ($featAlbums | async)">
                            <scngx-album-grid-item 
                                [item]="item" 
                                [routerLink]="['/album', item.slug || item.id]">
                            </scngx-album-grid-item>
                        </ng-container>
                </scngx-horizontal-grid>
            </div>
        </scngx-ui-row>

    </virtual-scroller>
</section>