<asc-interface-list-item-template>
    <div class="flex items-center">
        <img src="assets/img/icon_bucket.png" class="inline-block min-w-16 max-w-16 h-16">
    
        <div class="w-full pl-8">
            <h6>{{ bucket.name || "Unknown name" }}</h6>

            <ul class="item-details inline-flex items-center font-light text-xs opacity-30">
                <li class="inline-flex items-center font-light text-xs">{{ bucket.id }}</li>
                <li class="inline-flex items-center font-light text-xs gap-2"><i class="text-xs opacity-70 fa-solid fa-database"></i> {{ bucket.mountsCount || 0 }} {{ (bucket.mountsCount || 0) == 1 ? 'Mount' : 'Mounts' }}</li>
            </ul>
        </div>
    </div>
</asc-interface-list-item-template>
