<ng-container *ngIf="($props | async) as props">
    <div class="block w-full pointer-events-none overflow-hidden" #scngxPlayerContainer>
        <div class="relative flex flex-1 w-full items-stretch justify-start gap-4 p-2 bg-body-dark rounded pointer-events-auto overflow-hidden select-none">
            <!-- Seeker -->
            <div class="absolute w-full left-0 top-0" [ngClass]="{'pointer-events-none': props.isMobile}">
                <scngx-seeker [duration]="props.song?.duration ?? 0" [current]="props.currentTime" (seek)="onSeek($event)"></scngx-seeker>
            </div>
    
            <div (click)="props.isMobile ? openBigPictureMobile() : openBigPicture()" class="relative flex flex-grow w-full items-center justify-start gap-2 border border-body-lighter border-opacity-0 cursor-pointer rounded-sm p-1 transition-all active:bg-body active:bg-opacity-80 active:border-opacity-30" [ngClass]="{'hover:bg-body hover:border-opacity-30 hover:bg-opacity-60': !props.isMobile}">                    
                <!-- Artwork -->
                <div class="min-w-10 max-w-10 h-10 md:min-w-12 md:max-w-12 md:h-12 rounded-sm overflow-hidden pointer-events-none">
                    <scngx-artwork [artwork]="props.song?.artwork"></scngx-artwork>
                </div>
    
                <!-- Title & Artist -->
                <div class="flex-grow overflow-hidden" [ngClass]="{'pointer-events-none': props.isMobile}">
                    <p class="line-clamp-1 text-sm md:text-base">{{ props.song?.name || "Unbekannter Titel" }}</p>
                    <ul class="line-clamp-1 w-full">
                        <li *ngIf="props.song?.explicit" class="inline mr-2"><scngx-explicit-badge [extended]="false"></scngx-explicit-badge></li>
                        <li class="inline text-font text-opacity-70"><span class=" text-xs md:text-sm hover:underline pointer-events-all cursor-pointer" [routerLink]="props.song?.primaryArtist ? ['/artist', props.song?.primaryArtist?.slug || props.song?.primaryArtist?.id] : []">{{ props.song?.primaryArtist.name ?? "Unbekannter Künstler" }}</span>{{ props.song?.featuredArtists.length > 0 ? ", " : "" }}</li>
                        <li *ngFor="let artist of props.song?.featuredArtists; index as i" class="inline text-font text-opacity-70"><span class="text-xs md:text-sm hover:underline pointer-events-all cursor-pointer" [routerLink]="['/artist', artist.slug || artist.id]">{{ artist.name }}</span>{{ i + 1 < props.song.featuredArtists.length ? ", " : "" }}</li>
                    </ul>
                </div>

                <scngx-ibtn-text class="hidden sm:inline-block pointer-events-auto" (click)="toggleLike($event, props.song)" *ngIf="props.song">
                    <ng-icon name="heroHeart" size="21" *ngIf="!props?.song?.liked"></ng-icon>
                    <ng-icon name="heroHeartSolid" size="21" class="fill-accent" *ngIf="props?.song?.liked"></ng-icon>
                </scngx-ibtn-text>
            </div>
    
            <!-- Controls -->
            <div class="flex items-center justify-center gap-1">

                <!-- Shuffle button -->
                <scngx-ibtn-text class="hidden md:inline-block" (click)="toggleShuffle()">
                    <ng-icon name="featherShuffle" size="18" [ngClass]="{'text-accent': props.isShuffled}"></ng-icon>
                </scngx-ibtn-text>
                
                <!-- Prev button -->
                <scngx-ibtn-text class="hidden sm:inline-block">
                    <ng-icon name="heroForward" size="24" class="rotate-180"></ng-icon>
                </scngx-ibtn-text>
    
                <!-- Play button -->
                <scngx-ibtn size="md" (click)="togglePlaying()">
                    <ng-icon *ngIf="!props.isPaused" name="heroPauseSolid" size="22"></ng-icon>
                    <ng-icon *ngIf="props.isPaused" name="heroPlaySolid" size="22"></ng-icon>
                </scngx-ibtn>
    
                <!-- Skip button -->
                <scngx-ibtn-text class="hidden sm:inline-block" (click)="skip()">
                    <ng-icon name="heroForward" size="24"></ng-icon>
                </scngx-ibtn-text>

                <!-- Repeat button -->
                <!-- <scngx-ibtn-text class="hidden md:inline-block">

                </scngx-ibtn-text> -->
            </div>
    
            <div class="hidden sm:flex md:flex-grow md:w-full items-center justify-end gap-2">
                <!-- Duration -->
                <span class="text-font-tertiary text-sm w-24 md:w-min text-center">{{ props.currentTime ?? 0 | durationPipe }}/{{ props.song?.duration ?? 0 | durationPipe }}</span>
    
                <!-- Speaker button -->
                <span class="hidden md:flex relative items-center justify-start" *ngIf="!props.isMobile">
                    <scngx-ibtn-text (click)="toggleMute()">
                        <ng-icon size="21" name="heroSpeakerWave" *ngIf="!props.isMuted; else mutedIcon"></ng-icon>
                        <ng-template #mutedIcon><ng-icon size="21" name="heroSpeakerXMark"></ng-icon></ng-template>
                    </scngx-ibtn-text>

                    <span class="inline-block pl-1 pr-2 -mt-1 max-w-28">
                        <scngx-range [max]="100" [current]="props.volume" (onChanged)="setVolume($event)"></scngx-range>
                    </span>
                </span>

                <!-- Queue button -->
                <scngx-ibtn-text class="hidden md:inline-block" (click)="toggleQueue()">
                    <ng-icon name="heroRectangleStack" size="21"></ng-icon>
                </scngx-ibtn-text>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #volumeSliderContainer>

</ng-template>