<scngx-toolbar [showNavigation]="false" [transparent]="true">
    <div class="flex items-center">
        <div class="w-full overflow-hidden">
            <h6 class="line-clamp-1 lg:text-lg">{{ greeting }}</h6>
        </div>

        <ul>
            <li class="flex items-center justify-center cursor-pointer relative" matRipple [matRippleCentered]="true" [matRippleUnbounded]="true" [matRippleRadius]="20" [routerLink]="['/notifications']">
                <ng-icon name="heroBell" class="w-7 h-7"></ng-icon>
            </li>
        </ul>
    </div>
</scngx-toolbar>

<section class="px-window">
    <p>home works!</p>
    <a [routerLink]="['/settings']">Settings</a>

    <div class="w-full mt-row">
        <button class="px-4 py-2 bg-body-light rounded-sm" scngxTooltip scngxTooltipText="Das ist ein Tooltip Das ist ein Tooltip" [scngxTooltipPosition]="'bottom'">Hover me!</button>
    </div>

    <div class="w-full my-row">
    </div>
</section>
