<div class="h-full flex flex-1 flex-col overscroll-hidden">

    <!-- Navigation -->
    <div class="py-4 h-full flex-grow overflow-y-auto overflow-x-hidden">
        <div class="my-4 mb-10 flex justify-center items-center cursor-pointer" [routerLink]="['/']">
            <img class="w-8 h-8" src="../../../../assets/branding/soundcore_logo_full.svg">
            <h5 class="ml-4">Soundcore</h5>
        </div>
    
        <ul>
            <li [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"><span><i class="fa-solid fa-house"></i>Startseite</span></li>
            <li [routerLink]="['/search']" [routerLinkActive]="'active'"><span><i class="fa-solid fa-magnifying-glass"></i>Suchen</span></li>
            <li [routerLink]="['/library']" [routerLinkActive]="'active'"><span><i class="fa-solid fa-layer-group"></i>Bibliothek</span></li>
        </ul>
    
        <ul>
            <label>Administration</label>
            <li [routerLink]="['/storage']" [routerLinkActive]="'active'"><span><i class="fa-solid fa-hard-drive"></i>Speicherzonen</span></li>
        </ul>
    
        <ul>
            <label class="relative">
                Deine Sammlung
                <span class="absolute right-4 z-50 top-1/2 transform-gpu -translate-y-1/2"><button mat-icon-button (click)="openCreatePlaylist()"><i class="fa-solid fa-plus"></i></button></span>
            </label>

            <li [routerLink]="['/collection']" [routerLinkActive]="'active'" class="z-10"><span><i class="fa-solid fa-heart"></i>Lieblingssongs</span></li>

            <li class="py-4" *ngIf="error">
                <asc-error-message [error]="error"></asc-error-message>
            </li>
            
            <li *ngFor="let playlist of ($playlists | async)">
                <asc-playlist-list-item [playlist]="playlist" [routerLink]="['/playlists', playlist.id]" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive"></asc-playlist-list-item>
            </li>
        </ul>
    </div>
    
    <!-- Status bar -->
    <div class="max-h-52 overflow-hidden px-4 py-8 transition-all">
        
    </div>
</div>


