
ul {
    @apply my-2;

    label {
        @apply block pt-6 px-9 pb-0 text-xs opacity-30;
    }

    li {
        @apply relative px-6 transition-all my-1 cursor-pointer;

        span {
            @apply py-2 px-3.5 block rounded-md transition-all my-1 opacity-70;

            i {
                @apply inline-block w-16 text-center -ml-6;
            }
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 4px;
            height: 30%;
            border-radius: 1rem;
            pointer-events: none;
            opacity: 0;
            @apply bg-accent transition-all;
        }

        &.active {
            span {
                @apply text-accent opacity-100;
            }

            &::after {
                height: 65%;
                opacity: 1;
            }
        }

        &:hover:not(.active) {
            span {
                @apply text-accent-light opacity-100;
            }

            &::after {
                height: 65%;
                opacity: 1;
            }
        }

        &:active {
            span {
                @apply transform-gpu scale-95;
            }
        }
    }

}