<div class="py-4">

    <div class="my-4 mb-10 flex justify-center items-center cursor-pointer" [routerLink]="['/']">
        <img class="w-9 h-9" src="../../../../assets/branding/soundcore_logo_full.svg">
        <h5 class="ml-4">Soundcore <span class="block text-xs leading-none opacity-20">by TSAlliance</span></h5>
    </div>

    <ul>
        <li [routerLink]="['/']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"><span><i class="fa-solid fa-house"></i>Startseite</span></li>
        <li [routerLink]="['/library']" [routerLinkActive]="'active'"><span><i class="fa-solid fa-layer-group"></i>Bibliothek</span></li>
        <li [routerLink]="['/collection']" [routerLinkActive]="'active'"><span><i class="fa-solid fa-heart"></i>Lieblingssongs</span></li>
    </ul>

    <ul>
        <label>Administration</label>
        <li [routerLink]="['/storage']" [routerLinkActive]="'active'"><span><i class="fa-solid fa-hard-drive"></i>Speicherzonen</span></li>
    </ul>

    <ul>
        <label class="relative">
            Deine Sammlung
            <span class="absolute right-0 top-1/2 transform-gpu -translate-y-1/2"><button mat-icon-button><i class="fa-solid fa-plus"></i></button></span>
        </label>
        
        <li [routerLink]="['/playlist', 1]" [routerLinkActive]="'active'"><span>Playlist 1</span></li>
        <li [routerLink]="['/playlist', 2]" [routerLinkActive]="'active'"><span>Playlist 2</span></li>
    </ul>
</div>