<section class="relative p-window">
    <div class="absolute left-0 top-0 w-full h-[50vh]" [style]="'background: linear-gradient(180deg, ' + (artwork?.accentColor || options.artwork?.accentColor || options?.color || accentColor) + (mode == 'titleOnly' ? '20' : '80') + ' 0%, ' + (artwork?.accentColor || options.artwork?.accentColor|| options?.color || accentColor) + '00 ' + (mode == 'titleOnly' ? '40%' : '100%') + ');'"></div>

    <!-- Playlist title section -->
    <section class="block md:flex md:flex-1 md:items-end z-10 relative">
        <!-- Playlist cover -->
        <div class="block min-w-48 max-w-48 mx-auto md:m-0 relative" *ngIf="mode != 'titleOnly'" [ngClass]="{'block aspect-square rounded-full overflow-hidden shadow-2xl': options?.type == 'user'}">
            <asc-artwork *ngIf="options?.type != 'user'" [artwork]="artwork || options.artwork" class="block aspect-square rounded-2xl overflow-hidden shadow-xl z-10" [showAccent]="false"></asc-artwork>
            <asc-user-avatar *ngIf="options?.type == 'user'" [resourceId]="artwork?.id || options?.artwork?.id" class="z-10"></asc-user-avatar>

            <asc-label-badge *ngIf="options?.privacy && options?.privacy != 'public'" class="absolute top-2 left-2 opacity-70">{{ options.privacy | playlistPrivacyPipe }}</asc-label-badge>
        </div>

        <!-- Playlist title -->
        <div class="z-30 md:px-4 w-full pointer-events-auto mt-row md:m-0">
            <h6 class="font-light md:font-bold md:-mb-1 text-sm md:text-lg md:block hidden" *ngIf="mode != 'titleOnly'">{{ options.type | playlistViewTypePipe }}</h6>
            <h1 class="my-2 md:m-0 line-clamp-1 text-2xl md:text-5xl drop-shadow-md" *ngIf="mode != 'titleOnly'">{{ options.title }}</h1>
            <h3 class="my-2 md:m-0 line-clamp-1 drop-shadow-md" *ngIf="mode == 'titleOnly'">{{ options.title }}</h3>

            <!-- Quick info bar below title -->
            <div class="block w-full" *ngIf="mode != 'titleOnly'">
                <ng-content select="[asc-stats]"></ng-content>
            </div>
        </div>
    </section>

    <!-- Playlist controls -->
    <section class="flex my-row items-center w-full gap-2" *ngIf="mode != 'titleOnly'">
        <asc-play-button [isPaused]="isPaused" *ngIf="playable" (click)="onPlay.emit()" [mode]="'lg'"></asc-play-button>
        <asc-like-button *ngIf="likeable" [isLiked]="isLiked" (click)="onLike.emit()"></asc-like-button>
    </section>

    <section class="relative my-row z-10">
        <!-- Page content to blend with background gradient -->
        <ng-content select="[asc-contents]"></ng-content>
    </section>
</section>