<ng-container *ngIf="($props | async) as props">
    <app-error404 *ngIf="!props.loading && !props.song" [title]="'Song nicht gefunden'"></app-error404>

    <app-list-view [resource]="$any(props.song)" [title]="props.song?.name" [isLoading]="props.loading" [artwork]="props.song?.artwork">
        <ng-container scngx-stats>
            <li class="text-font-secondary">
                <span *ngIf="props.song?.primaryArtist">by <span class="hover:underline cursor-pointer" [routerLink]="['/artist', props.song.primaryArtist.slug || props.song.primaryArtist.id]">{{ props.song.primaryArtist.name }}</span></span>
            </li>
            <!-- <li class="text-font-secondary">
                <span>{{ props.playlist?.songsCount }} {{ props.playlist?.songsCount != 1 ? 'Songs' : 'Song' }}</span>
            </li>
            <li class="text-font-secondary">
                <span>{{ props.playlist?.totalDuration | scngxSongDurationPipe }} min</span>
            </li> -->
        </ng-container>
    
        <ng-container scngx-controls>
            <scngx-ibtn (click)="forcePlay(props.song)" size="md">
                <img *ngIf="!props.playing; else paused" class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                <ng-template #paused><img *ngIf="props.playing" class="w-7 h-7 text-body ml-0.5" src="assets/icons/pause.svg"></ng-template>
            </scngx-ibtn>
    
            <!-- <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                <hero-icon [name]="'heart'" [class]="'h-7 aspect-square'"></hero-icon>
            </button>
    
            <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                <hero-icon [name]="'dots-vertical'" [class]="'h-7 aspect-square'"></hero-icon>
            </button> -->
        </ng-container>
    </app-list-view>

    <div class="px-window">
        <scngx-song-list-item 
            [song]="props.song" 
            [index]="0" 
            [active]="props.currentItem?.song?.id == props.song?.id"
            [playing]="props.playing"
            [animRef]="lottieAnimationTemplate"
            [showCover]="false"
            (onPlay)="forcePlay(props.song)">
        </scngx-song-list-item>
    </div>

    <div class="pb-bottom"></div>
</ng-container>

<ng-template #lottieAnimationTemplate>
    <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
</ng-template>