<app-error404 *ngIf="showError404" [title]="'Playlist nicht gefunden'"></app-error404>

<div class="h-full w-full" #parentScroll>
    <div class="p-window">
        <app-list-view [title]="playlist?.title" [isLoading]="isLoadingPlaylist" [artwork]="playlist?.artwork">
            <ng-container scngx-stats>
                <li class="text-font-secondary">
                    <span *ngIf="playlist?.author">by {{ playlist?.author?.username }}</span>
                </li>
                <li class="text-font-secondary">
                    <span>{{ playlist?.songsCount }} {{ playlist?.songsCount != 1 ? 'Songs' : 'Song' }}</span>
                </li>
                <li class="text-font-secondary">
                    <span>{{ playlist?.totalDuration | scngxSongDurationPipe }} min</span>
                </li>
            </ng-container>
    
            <ng-container scngx-controls>
                <button class="w-14 flex items-center justify-center aspect-square bg-accent transition-all will-change-transform text-body rounded-full hover:scale-105 active:scale-[97%]">
                    <img class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                </button>
    
                <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                    <hero-icon [name]="'heart'" [class]="'h-7 aspect-square'"></hero-icon>
                </button>
    
                <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                    <hero-icon [name]="'dots-vertical'" [class]="'h-7 aspect-square'"></hero-icon>
                </button>
            </ng-container>
        </app-list-view>
    </div>

    <div class="w-full px-window">
        <scngx-virtual-song-list [columns]="columns" [dataSource]="tracks" [parentScroll]="parentScroll"></scngx-virtual-song-list>
    </div>
</div>

