<section class="w-full h-full overflow-y-auto px-window pt-window">
    <scngx-ui-title>Weitere Navigation</scngx-ui-title>

    <ul class="flex flex-col items-start justify-start gap-2">
        <scngx-btn-text class="w-full" [fullWidth]="true"><hero-icon name="cog" [class]="'h-5 w-5'"></hero-icon><span>Konfiguration</span></scngx-btn-text>
        <scngx-btn-outlined class="w-full" [routerLink]="['/']" [fullWidth]="true" [appearance]="'error'"><hero-icon name="logout" [class]="'h-5 w-5'"></hero-icon><span>Webinterface verlassen</span></scngx-btn-outlined>
    </ul>

</section>