<!-- Navigation status loading bar -->
<div class="fixed w-full top-0 left-0 z-[1000000000000000000] pointer-events-none" *ngIf="isNavigating">
    <scngx-progressbar [transparent]="true"></scngx-progressbar>
</div>

<!-- Layout - Drawer -->
<scngx-drawer #drawer *ngIf="!(screenService.$isTouch | async)">
    <!-- Drawer sections -->
    <div class="flex flex-col relative h-full" scngx-drawer>

        <div class="block p-window pb-0">
            <div class="flex items-center w-full">
                <div class="w-1/2">
                    <img src="assets/branding/soundcore_logo_full.svg" class="min-w-10 max-w-10 h-10 block cursor-pointer" [routerLink]="['/']">
                </div>

                <div class="w-1/2 text-right">
                    <button (click)="navigateBack()" class="inline-flex items-center justify-center bg-body-light rounded-full w-9 h-9 mr-1.5 transform-gpu transition-all will-change-transform active:scale-95"><ng-icon name="heroChevronDown" size="20" class="h-5 w-5 transform-gpu rotate-90"></ng-icon></button>
                    <button (click)="navigateNext()" class="inline-flex items-center justify-center bg-body-light rounded-full w-9 h-9 transform-gpu transition-all will-change-transform active:scale-95"><ng-icon name="heroChevronDown" size="20" class="h-5 w-5 transform-gpu -rotate-90"></ng-icon></button>
                </div>
            </div>

            <div class="mt-4">
                <scngx-nav-list-item [routerLink]="['/']" [routerLinkActiveOptions]="{exact: true}" iconName="heroArrowLeft">Zurück zur App</scngx-nav-list-item>
            </div>
        </div>

        <hr class="my-row bg-divider min-h-[3px] max-h-[3px] rounded-full appearance-none border-none w-[90%] mx-auto">

        <div class="block h-full px-window">
            <div class="flex flex-col gap-1 select-none">
                <scngx-nav-list-item [routerLink]="['./']" [routerLinkActiveOptions]="{ exact: true }" iconName="heroChartPie">Dashboard</scngx-nav-list-item>
                <scngx-nav-list-item [routerLink]="['./zones']" iconName="heroCubeTransparent">Speicherzonen</scngx-nav-list-item>
                <scngx-nav-list-item [routerLink]="['./import']" iconName="heroDocumentPlus">Importieren</scngx-nav-list-item>
                <scngx-nav-list-item [routerLink]="['./tasks']" iconName="heroBolt">Prozesse</scngx-nav-list-item>
                <scngx-nav-list-item [routerLink]="['./settings']" iconName="heroCog6Tooth">Einstellungen</scngx-nav-list-item>

                <!-- <li [routerLink]="['./zones']" routerLinkActive="text-accent" class="relative flex gap-4 px-window py-3 cursor-pointer hover:opacity-100 transition-all"><ng-icon name="heroCubeTransparent" class="h-6 w-6"></ng-icon><span>Speicherzonen</span></li> -->
                <!-- <li [routerLink]="['./import']" routerLinkActive="text-accent" class="relative flex gap-4 px-window py-3 cursor-pointer hover:opacity-100 transition-all"><ng-icon name="heroDocumentPlus" class="h-6 w-6"></ng-icon><span>Importieren</span></li> -->
                <!-- <li [routerLink]="['./tasks']" routerLinkActive="text-accent" class="relative flex gap-4 px-window py-3 cursor-pointer hover:opacity-100 transition-all"><ng-icon name="heroBolt" class="h-6 w-6"></ng-icon><span>Tasks</span></li> -->
                <!-- <li [routerLink]="['./settings']" routerLinkActive="text-accent" class="relative flex gap-4 px-window py-3 cursor-pointer hover:opacity-100 transition-all"><ng-icon name="heroCog6Tooth" class="h-6 w-6"></ng-icon><span>Konfiguration</span></li> -->
            </div>
        </div>

        <hr class="bg-divider min-h-[3px] max-h-[3px] rounded-full appearance-none border-none w-[90%] mx-auto">
        <app-profile-bar [user]="(authService.$user | async)">
            <ul>
                <li class="flex items-center cursor-pointer gap-4 p-2.5 transition-all bg-body-light bg-opacity-0 active:bg-opacity-80 rounded-sm" [ngClass]="{'hover:bg-opacity-50': !(screenService.$isTouch | async)}" [routerLink]="['/notifications']">
                    <ng-icon name="heroBell" class="h-5 w-5"></ng-icon> 
                    <span>Benachrichtungen</span>
                </li>
                <li class="flex items-center cursor-pointer gap-4 p-2.5 transition-all bg-body-light bg-opacity-0 active:bg-opacity-80 rounded-sm" [ngClass]="{'hover:bg-opacity-50': !(screenService.$isTouch | async)}" [routerLink]="['/settings']">
                    <ng-icon name="heroCog6Tooth" class="h-5 w-5"></ng-icon> 
                    <span>Einstellungen</span>
                </li>

                <hr class="appearance-none border-none bg-divider h-[2px] my-2">

                <li class="flex items-center cursor-pointer gap-4 p-2.5 transition-all bg-error-light bg-opacity-0 active:bg-opacity-20 rounded-sm text-error-light" [ngClass]="{'hover:bg-opacity-10': !(screenService.$isTouch | async)}" (click)="authService.logout()">
                    <ng-icon name="heroArrowRightOnRectangle" class="h-5 w-5"></ng-icon> 
                    <span>Abmelden</span>
                </li>
            </ul>
        </app-profile-bar>
    </div>

    <!-- Page contents -->
    <div class="h-full overflow-hidden relative" scngx-content>
        <ng-container *ngTemplateOutlet="outageWarning; context: { $implicit: gateway.$connection }"></ng-container>
        <router-outlet></router-outlet>
    </div>
</scngx-drawer>

<!-- Layout - Mobile -->
<scngx-bottom-nav *ngIf="(screenService.$isTouch | async)">
    <!-- Bottom navigation items -->
    <scngx-nav-item [label]="'Speicherzonen'" [routerLink]="['./zones']" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        <ng-icon name="heroCubeTransparent" class="h-5 w-5 transition-all"></ng-icon>
    </scngx-nav-item>
    <scngx-nav-item [label]="'Importieren'" [routerLink]="['./import']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
        <ng-icon name="heroDocumentPlus" class="h-5 w-5 transition-all"></ng-icon>
    </scngx-nav-item>
    <scngx-nav-item [label]="'Tasks'" [routerLink]="['./tasks']" routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive">
        <ng-icon name="heroBolt" class="h-5 w-5 transition-all"></ng-icon>
    </scngx-nav-item>
    <scngx-nav-item [label]="'Mehr'" [routerLink]="['./more']" routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive">
        <ng-icon name="heroEllipsisVerticalSolid" class="h-5 w-5 transition-all"></ng-icon>
    </scngx-nav-item>

    <!-- Page contents -->
    <div class="h-full w-full overflow-hidden relative" scngx-content>
        <ng-container *ngTemplateOutlet="outageWarning; context: { $implicit: gateway.$connection }"></ng-container>
        <router-outlet></router-outlet>
    </div>
</scngx-bottom-nav>

<!-- Outage warning -->
<ng-template #outageWarning let-connection>
    <ng-container *ngIf="$any(connection | async) as con">
        <ng-container *ngIf="con.status == 'disconnected'">
            <div class="w-full pt-window px-window">
                <div class="flex flex-1 items-center justify-start w-full bg-warn p-3 rounded-sm border border-warn-light">
                    <div>
                        
                    </div>
                    <div>
                        <p class="text-sm">Störung erkannt.</p>
                        <p class="text-xs">Derzeit kann keine zuverlässige Verbindung zum Soundcore-Service aufgebaut werden.</p>
            
                        <button *ngIf="con.$retry" (click)="con.$retry.subscribe()">Erneut versuchen</button>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="con.status != 'disconnected' && con.reconnectAttempts > 0">
            <div class="w-full pt-window px-window">
                <div class="flex flex-1 items-center justify-start w-full bg-warn p-3 rounded-sm border border-warn-light">
                    <div>
                        
                    </div>
                    <div>
                        <p class="text-sm pb-2">Störung erkannt.</p>
                        <p class="text-sm">Derzeit kann keine zuverlässige Verbindung zum Soundcore-Service aufgebaut werden. 
                            Du wirst automatisch verbunden sobald der Service wieder erreichbar ist. ({{ con.reconnectAttempts ?? 0 }})
                        </p>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</ng-template>