<section class="px-window">
    <div class="h-2">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    </div>
    
    <div class="my-4">
        <asc-error-message [error]="error" *ngIf="error"></asc-error-message>
    </div>
</section>

<section class="px-window" *ngIf="genre">
    <div class="h-2">
        <mat-progress-bar mode="indeterminate" *ngIf="isLoadingSongs"></mat-progress-bar>
    </div>

    <div class="z-30 w-full pointer-events-auto mb-12">
        <h6 class="font-normal md:-mb-1 text-sm md:text-lg md:block hidden opacity-70">Genre</h6>
        <h1 class="my-2 md:m-0 line-clamp-1 text-2xl md:text-5xl drop-shadow-md">{{ genre?.name }}</h1>
    </div>
</section>

<section class="my-row" *ngIf=" ($playlistPage | async)?.elements?.length > 0">
    <asc-horizontal-grid [headline]="'Playlists mit Songs aus ' + genre?.name" [enableMore]="true">
        <asc-playlist-grid-item *ngFor="let playlist of ($playlistPage | async)?.elements" [playlist]="playlist" [routerLink]="['/playlist', playlist.id]"></asc-playlist-grid-item>
    </asc-horizontal-grid>
</section>

<section class="my-row">
    <asc-horizontal-grid [headline]="'Songs aus ' + genre?.name" [enableMore]="true">
        <asc-song-grid-item *ngFor="let song of ($songsPage | async)?.elements" [song]="song"></asc-song-grid-item>
    </asc-horizontal-grid>
</section>

<section class="my-row" *ngIf=" ($albumPage | async)?.elements?.length > 0">
    <asc-horizontal-grid [headline]="'Alben mit Songs aus ' + genre?.name" [enableMore]="true">
        <asc-album-grid-item *ngFor="let album of ($albumPage | async)?.elements" [album]="album" [routerLink]="['/album', album.id]"></asc-album-grid-item>
    </asc-horizontal-grid>
</section>