<div *teleportTo="'toolbarSection'">

    <div class="flex flex-1 bg-background-dark">
        <div class="flex-grow">
            <input [formControl]="searchInputControl" type="text" name="search_query" id="search_query" autofocus>
        </div>
        <div>

        </div>
    </div>

</div>



<section class="px-4 h-4">
    <mat-progress-bar *ngIf="isSearching" mode="indeterminate" color="accent"></mat-progress-bar>
</section>

<!-- Show last search queries if nothing has been searched yet -->
<div *ngIf="!hasSearched && ($history | async).length > 0">
    <h5>Deine letzten Suchanfragen</h5>
</div>

<div *ngIf="($currentResult | async)?.songs" class="my-4">
    <h5 class="px-4">Songs</h5>

    <asc-horizontal-grid>
        <asc-song-item *ngFor="let song of ($currentResult | async)?.songs?.elements" [song]="song"></asc-song-item>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.genres" class="my-4">
    <h5 class="px-4">Genres</h5>
    <asc-horizontal-grid>
        <asc-genre-grid-item *ngFor="let genre of ($currentResult | async)?.genres?.elements" [genre]="genre"></asc-genre-grid-item>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.artists" class="my-4">
    <h5 class="px-4">Künstler</h5>
    <asc-horizontal-grid>
        <asc-artist-grid-item *ngFor="let artist of ($currentResult | async)?.artists?.elements" [artist]="artist"></asc-artist-grid-item>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.albums" class="my-4">
    <h5 class="px-4">Alben</h5>
    <asc-horizontal-grid>
        <asc-album-grid-item *ngFor="let album of ($currentResult | async)?.albums?.elements" [album]="album"></asc-album-grid-item>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.playlists" class="my-4">
    <h5 class="px-4">Playlisten</h5>
    <asc-horizontal-grid>
        <span *ngFor="let playlist of ($currentResult | async)?.playlists?.elements">{{ playlist.title }}</span>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.publisher || ($currentResult | async)?.distributors || ($currentResult | async)?.labels " class="my-4">
    <h5 class="px-4">Herausgeber & Label</h5>
    <asc-horizontal-grid>
        <span *ngFor="let publisher of ($currentResult | async)?.publisher?.elements || []">{{ publisher.name }}</span>
        <span *ngFor="let label of ($currentResult | async)?.labels?.elements || []">{{ label.name }}</span>
        <span *ngFor="let distributor of ($currentResult | async)?.distributors?.elements || []">{{ distributor.name }}</span>
    </asc-horizontal-grid>
</div>
