:host {
    .horizontal_scroll {
        display: block;
        width: 100%;
        overflow: hidden;
        scroll-behavior: smooth;

        .scroll-area {
            display: grid;
            grid-auto-flow: column;
            overflow-x: auto;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            gap: 1rem;
            grid-auto-columns: minmax(10rem, 1fr);
            grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
            scroll-behavior: smooth;

            @apply px-4 py-2;

        }

    }
}