<div *teleportTo="'toolbarSection'" class="w-2/3">
    <div class="flex flex-1 w-full">
        <div class="flex-grow ">
            <input class="appearance-none block bg-primary w-full outline-none px-4 py-3 rounded-full text-sm border-2 border-transparent active:border-primary-light" [formControl]="searchInputControl" type="text" name="search_query" id="search_query" autofocus placeholder="Suchen...">
        </div>
    </div>
</div>



<section class="px-4 h-4">
    <mat-progress-bar *ngIf="isSearching" mode="indeterminate" color="accent"></mat-progress-bar>
</section>

<!-- Show last search queries if nothing has been searched yet -->
<div *ngIf="!hasSearched && ($history | async).length > 0">
    <h5>Deine letzten Suchanfragen</h5>
</div>

<div *ngIf="($currentResult | async)?.songs" class="my-4">
    <asc-horizontal-grid headline="Songs" [enableMore]="true" [canScroll]="false">
        <asc-song-item *ngFor="let song of ($currentResult | async)?.songs?.elements" [song]="song"></asc-song-item>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.genres" class="my-4">
    <asc-horizontal-grid headline="Genres">
        <asc-genre-grid-item *ngFor="let genre of ($currentResult | async)?.genres?.elements" [genre]="genre"></asc-genre-grid-item>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.artists" class="my-4">
    <asc-horizontal-grid headline="Künstler">
        <asc-artist-grid-item *ngFor="let artist of ($currentResult | async)?.artists?.elements" [artist]="artist"></asc-artist-grid-item>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.albums" class="my-4">
    <asc-horizontal-grid headline="Alben">
        <asc-album-grid-item *ngFor="let album of ($currentResult | async)?.albums?.elements" [album]="album"></asc-album-grid-item>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.playlists" class="my-4">
    <asc-horizontal-grid headline="Playlisten">
        <span *ngFor="let playlist of ($currentResult | async)?.playlists?.elements">{{ playlist.title }}</span>
    </asc-horizontal-grid>
</div>

<div *ngIf="($currentResult | async)?.publisher || ($currentResult | async)?.distributors || ($currentResult | async)?.labels " class="my-4">
    <asc-horizontal-grid headline="Herausgeber & Label">
        <span *ngFor="let publisher of ($currentResult | async)?.publisher?.elements || []">{{ publisher.name }}</span>
        <span *ngFor="let label of ($currentResult | async)?.labels?.elements || []">{{ label.name }}</span>
        <span *ngFor="let distributor of ($currentResult | async)?.distributors?.elements || []">{{ distributor.name }}</span>
    </asc-horizontal-grid>
</div>

<div class="pb-12"></div>
