<!-- Toolbar (touch devices only) -->
<scngx-toolbar [showNavigation]="false" [transparent]="true" *ngIf="(screenService.$isTouch | async)">
    <div class="flex items-center">
        <input type="text" [formControl]="searchInputControl" placeholder="Suchen" class="outline-none appearance-none w-full bg-body-light border border-transparent focus:border-font focus:border-opacity-30 transition-colors rounded-full py-4 px-5 placeholder:font-semi placeholder:text-font-secondary" >
    </div>
</scngx-toolbar>

<!-- Show 404 page if no result -->
<app-error404 *ngIf="show404"></app-error404>

<!-- Show query to user -->
<section *ngIf="query" class="px-window pt-window" [ngClass]="{'pt-0': (screenService.$isTouch | async)}">
    <h5>Ergebnisse für "{{ query }}"</h5>
</section>

<!-- Show "home" page for quick access -->
<section [ngClass]="{'pt-0': (screenService.$isTouch | async)}" *ngIf="!query">
    <scngx-ui-row [headline]="'Letzte Suchanfragen'" *ngIf="($recently | async)?.length > 0">
        <scngx-horizontal-grid>
            <ng-container *ngFor="let item of ($recently | async)">
                <!-- // TODO -->
            </ng-container>
        </scngx-horizontal-grid>
    </scngx-ui-row>

    <scngx-ui-row [headline]="'Meistgehörte Genres'">

    </scngx-ui-row>

    <scngx-ui-row [headline]="'Alle Genres'">

    </scngx-ui-row>
</section>

<!-- Results page -->
<section [ngClass]="{'pt-0': (screenService.$isTouch | async)}" *ngIf="query">

    <!-- Artists -->
    <scngx-ui-row [headline]="'Künstler'" *ngIf="($result | async)?.albums?.elements?.length > 0">
        <div class="w-full">
            <scngx-horizontal-grid>
                <ng-container *ngFor="let item of ($result | async)?.artists?.elements">
                    <scngx-artist-grid-item 
                        [item]="item"
                        (click)="routeToResult(['/artist', item.slug || item.id], item)">
                    </scngx-artist-grid-item>
                </ng-container>
            </scngx-horizontal-grid>
        </div>
    </scngx-ui-row>

    <!-- Albums -->
    <scngx-ui-row [headline]="'Alben'" *ngIf="($result | async)?.albums?.elements?.length > 0">
        <div class="w-full">
            <scngx-horizontal-grid>
                <ng-container *ngFor="let item of ($result | async)?.albums?.elements">
                    <scngx-album-grid-item 
                        [item]="item" 
                        [useDate]="true"
                        (click)="routeToResult(['/album', item.slug || item.id], item)">
                    </scngx-album-grid-item>
                </ng-container>
            </scngx-horizontal-grid>
        </div>
    </scngx-ui-row>

    <!-- Playlists -->
    <ng-container *ngIf="($playlists | async) as playlists">
        <scngx-ui-row [headline]="'Playlists'" *ngIf="playlists.hits.length > 0">
            <div class="w-full">
                <scngx-horizontal-grid>
                    <ng-container *ngFor="let item of playlists.hits">
                        <scngx-playlist-grid-item 
                            [item]="item"
                            (click)="routeToResult(['/playlist', item.slug || item.id], item)">
                        </scngx-playlist-grid-item>
                    </ng-container>
                </scngx-horizontal-grid>
            </div>
        </scngx-ui-row>
    </ng-container>

    <!-- Users -->
    <ng-container *ngIf="($users | async) as users">
        <scngx-ui-row [headline]="'Profile'" *ngIf="users.hits.length > 0">
            <div class="w-full">
                <scngx-horizontal-grid>
                    <ng-container *ngFor="let item of users.hits">
                        <scngx-profile-grid-item 
                            [item]="item"
                            (click)="routeToResult(['/profile', item.slug || item.id], item)">
                        </scngx-profile-grid-item>
                    </ng-container>
                </scngx-horizontal-grid>
            </div>
        </scngx-ui-row>
    </ng-container>
    

</section>
