
<div class="item-container transition-all p-3 rounded-md text-center flex flex-1 flex-col overflow-hidden h-full cursor-pointer w-full bg-background-light border-2 border-transparent hover:border-primary active:bg-background-dark">

    <div class="block relative">
        <div class="inline-flex w-full aspect-square rounded-full overflow-hidden">
            <asc-user-avatar [resourceId]="null"></asc-user-avatar>
        </div>
    </div>

    <div class="max-w-full overflow-hidden text-left flex-grow pt-2.5 px-1 h-full">
        <p class="font-bold text-sm line-clamp-2 text-center">{{ user.username }}</p>
        <p class="font-light text-xs text-center">Nutzerprofil</p>
    </div>
</div>
