.drawer-wrapper-over {
    display: block !important;
}
.drawer-over {
    position: absolute !important;
}
.content-over {
    display: block !important;
}
.backdrop-mode-over {
    opacity: 1 !important;
    pointer-events: auto !important;
}