<sccdk-context-menu-container>
    <ul class="flex flex-col items-center justify-start">
        <li (click)="openChoosePlaylistDialog()" class="flex items-center justify-start w-full p-3 gap-2 rounded-sm select-none cursor-pointer hover:bg-body hover:bg-opacity-50 active:bg-opacity-80 active:scale-97 transform-gpu will-change-transform transition-all">
            <hero-icon name="view-grid-add" [class]="'h-5 w-5'"></hero-icon>
            <span>Zu Playlist hinzufügen</span>
        </li>
    </ul>
</sccdk-context-menu-container>