<asc-context-menu-template #templateRef>
    <ul class="mb-4">
        <label class="px-4 text-xs">Abspielen</label>
        <li class="py-3 px-4 text-opacity-70 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer text-sm" (click)="playOrPause()" *ngIf="!($isPlaying | async)">Jetzt abspielen</li>
        <li class="py-3 px-4 text-opacity-70 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer text-sm" (click)="enqueue()">Zur Warteschlange</li>
    </ul>

    <ul class="my-4">
        <label class="px-4 text-xs">Aktionen</label>
        <li class="py-3 px-4 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer" (click)="openChoosePlaylist()">
            <span class="text-white-dark text-sm" *ngIf="!playlist">Zu Playlist hinzufügen</span>
            <span class="text-white-dark text-sm" *ngIf="!!playlist">Zu anderer Playlist hinzufügen</span>
        </li>
        <li class="py-3 px-4 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer" (click)="removeFromPlaylist()" *ngIf="!!playlist">
            <span class="text-white-dark text-sm">Aus Playlist entfernen</span>
        </li>
        <li class="py-3 px-4 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer" (click)="toggleLike()">
            <span class="text-white-dark text-sm" *ngIf="song?.liked">Von Lieblingssongs entfernen</span>
            <span class="text-white-dark text-sm" *ngIf="!song?.liked">Zu Lieblingssongs hinzufügen</span>
        </li>
    </ul>

    <ul class="mt-4">
        <label class="px-4 text-xs">Verwaltung</label>
        <li class="py-3 px-4 text-opacity-70 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer text-sm" (click)="navigateToIndex()" *ngIf="song?.index?.id">Index ansehen</li>
        <li class="py-3 px-4 text-opacity-70 bg-opacity-95 hover:bg-background-light active:bg-primary transition-all rounded-md cursor-pointer text-sm">Bearbeiten</li>
    </ul>
</asc-context-menu-template>