<div class="p-4 rounded-xl bg-background-dark text-center flex flex-1 flex-col h-full cursor-pointer w-44">

    <img [src]="coverSrc" class="w-full aspect-square mx-auto rounded-xl shadow-lg">

    <div class="max-w-full overflow-hidden text-left flex-grow pt-4 px-1">
        <p class="font-bold text-sm max-w-full overflow-hidden text-ellipsis whitespace-nowrap">{{ song.title }}</p>
        <p class="text-xs opacity-60 line-clamp-2 pt-1">{{ song.artists | songArtistsJoin }}</p>
    </div>

</div>
