<div class="flex items-center cursor-pointer p-3 bg-body-dark gap-4 bg-opacity-0 hover:bg-opacity-20 active:bg-opacity-40 active:scale-97 transform-gpu will-change-transform transition-all rounded">
    <div class="w-16 min-w-16 aspect-square rounded-sm overflow-hidden">
        <scngx-artwork [artwork]="resource?.artwork"></scngx-artwork>
    </div>

    <div class="w-full">
        <h6 class="text-font">{{ resource?.name }}</h6>

        <div class="subtitle flex items-center w-full">
            <span class="text-sm text-font font-light opacity-60">von {{ $any(resource).author?.name }}</span>
        </div>
    </div>
</div>