<section class="p-window">
    <div class="mb-row flex items-center gap-4">
        <div class="min-w-32 max-w-32 h-32 p-4 bg-background-light rounded-xl">
            <img src="assets/img/icon_harddrive.png" class="w-full h-full">
        </div>

        <div class="w-full">
            <h6 class="opacity-40">Mount</h6>
            <h2 class="line-clamp-1">{{ ($mount | async)?.name || "Unknown name/abcd" }}</h2>
            <div class="flex items-center pt-2 gap-2">
                <asc-label-badge><i class="text-xs opacity-60 mr-1 align-middle fa-solid fa-database"></i> {{ ($mount | async)?.indexCount || 0 }} Dateien</asc-label-badge>
                <asc-label-badge>{{ ($mount | async)?.driveStats?.mountUsedSpace | diskSpacePipe }}</asc-label-badge>
            </div>
        </div>
    </div>

    <div class="my-row">
        <h5 class="pb-2">Dateien</h5>

        <asc-interface-list [pageSize]="pageSize" [totalElements]="totalElements" [currentPage]="currentPage" [currentSize]="($index | async).length" (onMore)="findIndices()">
            <div list-header>
                <!--<input type="text">-->
            </div>
            <div class="my-2" *ngFor="let index of ($index | async)">
                <asc-index-list-item [index]="index" [routerLink]="['/storage', 'index', index.id]" (delete)="deleteIndex(index)"></asc-index-list-item>
            </div>
        </asc-interface-list>

        <!--<asc-interface-list [pageSize]="pageSize" [totalElements]="totalElements" [currentPage]="currentPage" [currentSize]="($mounts | async).length" (onMore)="findMounts()">
            <div list-header>
                <button mat-stroked-button (click)="openMountEditor()"><mat-icon class="align-middle mr-2">add</mat-icon>Mount koppeln</button>
            </div>

            <div class="my-2" *ngFor="let mount of ($mounts | async)">
                <asc-mount-list-item (delete)="deleteMount(mount)" (edit)="openMountEditor(mount)" [mount]="mount" [routerLink]="['/storage', 'mount', mount.id]"></asc-mount-list-item>    
            </div>
        </asc-interface-list>-->
    </div>
</section>