<asc-storage-item-view [type]="'mount'" [item]="($mount | async)">
    <div class="flex items-center gap-2" asc-stats>
        <asc-label-badge><i class="text-xs opacity-60 mr-1 align-middle fa-solid fa-database"></i> {{ ($mount | async)?.indexCount || 0 }} Dateien</asc-label-badge>
        <asc-label-badge>{{ ($mount | async)?.driveStats?.mountUsedSpace | diskSpacePipe }}</asc-label-badge>
    </div>
</asc-storage-item-view>

<div class="px-window my-row">
    <h5 class="pb-2">Dateien</h5>

    <asc-interface-list [pageSize]="pageSize" [totalElements]="totalElements" [currentPage]="currentPage" [currentSize]="($index | async).length" (onMore)="findIndices()">
        <div list-header>
            <!--<input type="text">-->
        </div>
        <div class="my-2" *ngFor="let index of ($index | async)">
            <asc-index-list-item [index]="index" [routerLink]="['/storage', 'index', index.id]" (delete)="deleteIndex(index)" (reindex)="reindex(index)"></asc-index-list-item>
        </div>
    </asc-interface-list>
</div>