<div class="bg-background-dark rounded-md my-2 px-6 py-4 flex flex-1 items-center shadow-md">

    <img src="assets/img/icon_harddrive.png" class="inline-block w-16 h-16">

    <div class="flex-grow px-6">
        <h6>{{ mount?.name || "Unknown name" }}</h6>

        <ul class="flex gap-8">
            <li class="opacity-40 cursor-pointer">{{ mount?.path || "Unknown path" }}</li>
        </ul>
    </div>

    <div class="inline-flex items-center">
        <button mat-icon-button (click)="triggerEditEvent()" matTooltip="Bearbeiten">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="triggerDeleteEvent()" matTooltip="Löschen">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

</div>