<asc-interface-list-item-template>
    <div class="flex items-center">
        <img src="assets/img/icon_mount.png" class="inline-block min-w-16 max-w-16 h-16">
    
        <div class="w-full pl-8">
            <h6>{{ mount.name || "Unknown name" }}</h6>

            <div>
                <span class="text-xs leading-3 pointer-events-all opacity-60">{{ mount?.path || "Unknown path" }}</span>
            </div>

            <ul class="item-details inline-flex items-center font-light text-xs pt-2">
                <li class="inline-flex items-center font-light text-xs"><asc-label-badge>{{ (mount.status || "ok") == "ok" ? "OK" : "Indexierung läuft" }}</asc-label-badge></li>
            </ul>
        </div>

        <div class="inline-flex items-center">
            <button mat-icon-button (click)="triggerEditEvent($event)" matTooltip="Bearbeiten">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="triggerDeleteEvent($event)" matTooltip="Löschen">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</asc-interface-list-item-template>