
<div class="flex flex-1 items-center justify-start pb-2">
    <h6 class="text-inherit flex-grow">Laufende Imports</h6>
    <scngx-btn (click)="openCreateImportDialog()">Import starten</scngx-btn>
</div>

<div *ngIf="(datasource?.$size | async) <= 0">
    <p>Es wurden keine laufenden Imports gefunden.</p>
</div>

<div *uiScroll="let item of datasource; index as i">
    <div class="flex flex-1 items-center justify-start w-full p-4 rounded-sm gap-4 select-none cursor-default">
        <div>
            <p>{{ i + 1 }}</p>
        </div>
        <div>
            <p>{{ item?.url }}</p>
        </div>
        <div>
            <p>{{ item?.status | taskStatusPipe }}</p>
        </div>
        <div *ngIf="item?.status == 1">
            <p>{{ item?.progress }}%</p>
        </div>
    </div>
</div>

