<asc-storage-item-view [type]="'index'" [item]="($index | async)">
    <div class="flex items-center gap-2" asc-stats>
        <asc-label-badge>{{ ($index | async)?.status | indexStatusPipe }}</asc-label-badge>
        <asc-label-badge>{{ ($index | async)?.size | diskSpacePipe }}</asc-label-badge>
    </div>
</asc-storage-item-view>

<div class="px-window my-row">
    <h5 class="pb-2">Bericht</h5>

    <div class="bg-background-light w-full p-4 rounded-md" *ngIf="($report | async)">
        <div class="flex items-start gap-3 p-2 py-3 w-full border-b-2 border-primary-light" *ngFor="let element of ($report | async)?.jsonContents">
            <p class="min-w-56 max-w-56 font-mono text-sm">{{ element?.timestamp | date:"dd.mm.yyyy - HH:mm:ss.SSS "}}</p>
            <p class="min-w-16 max-w-16 font-mono text-sm">{{ element?.status?.toUpperCase() }}</p>

            <div class="w-full">
                <p class="w-full font-mono text-sm">{{ element?.message }}</p>
                <p class="bg-background-dark rounded-md p-2 w-full font-mono text-xs mt-2" *ngIf="element?.stack">{{ element?.stack }}</p>
                <p class="bg-background-dark rounded-md p-2 w-full font-mono text-xs mt-2" *ngIf="element?.context">{{ element?.context | json }}</p>
            </div>
        </div>
    </div>
</div>