<div class="h-2">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>

<h4 class="mb-row">Playlist erstellen</h4>

<mat-dialog-content class="h-full w-full md:min-w-[500px] md:max-w-[500px] md:min-h-[350px] overflow-hidden">

    <asc-error-message [error]="error" *ngIf="error"></asc-error-message>

    <div class="block w-full min-w-[180px] max-w-[500px]" [formGroup]="playlistDto">

        <!-- Name of the playlist -->
        <mat-form-field class="inline-block w-full" appearance="fill">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="title">
            <mat-hint>Achte darauf, dass du noch keine Playlist so benannt hast!</mat-hint>
            <mat-error *ngIf="playlistDto.get('title').hasError('maxlength')">
                Der Name darf maximal 120 Zeichen lang sein.
            </mat-error>
            <mat-error *ngIf="playlistDto.get('title').hasError('minlength')">
                Der Name muss mindestens 3 Zeichen lang sein.
            </mat-error>
            <mat-error *ngIf="playlistDto.get('title').hasError('required')">
                Es wird ein Name benötigt.
            </mat-error>
        </mat-form-field>

        <!-- Privacy settings of the playlist -->
        <mat-form-field class="mt-12 inline-block w-full" appearance="fill">
            <mat-label>Sichtbarkeit</mat-label>
            <mat-select formControlName="privacy" name="food">
              <mat-option *ngFor="let option of availablePrivacyOptions" [value]="option.value">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">
        <span class="text-sm tracking-wider font-normal text-white-dark">Abbrechen</span>
    </button>
    <button mat-button (click)="save()" cdkFocusInitial>
        <span class="text-sm tracking-wider font-normal text-white-dark" *ngIf="options?.mode == 'create'">Erstellen</span>
        <span class="text-sm tracking-wider font-normal text-white-dark" *ngIf="options?.mode != 'create'">Speichern</span>
    </button>
</mat-dialog-actions>