<div class="flex flex-1 py-2 px-2 bg-background items-center">
        <div class="pr-2 lg:pr-6">
            <span class="lg:hidden">
                <button mat-icon-button (click)="navigateBack()"><i class="fa-solid fa-arrow-left"></i></button>
                <button mat-icon-button (click)="emitMenuToggle()" class="lg:hidden"><mat-icon>menu</mat-icon></button>
            </span>
            <span class="hidden lg:inline-block">
                <button mat-icon-button (click)="navigateBack()"><i class="fa-solid fa-chevron-left"></i></button>
                <button mat-icon-button (click)="navigateNext()"><i class="fa-solid fa-chevron-right"></i></button>
            </span>
        </div>
        <div class="">
            
        </div>
        <div class="flex-grow">
            <div class="flex justify-center">
                <ng-container teleportOutlet="toolbarSection"></ng-container>
            </div>
        </div>
    
        <div class="inline-block">
            <button mat-icon-button [routerLink]="['/library/queue']" [routerLinkActive]="'hidden'">
                <mat-icon>file_upload</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/settings']">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="logout()"><i class="fa-solid fa-power-off"></i></button>
        </div>
</div>
