<div class="flex flex-1 py-4 px-6 bg-primary items-center">
        <div class="inline-block lg:hidden">
            <button mat-icon-button (click)="emitMenuToggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="flex-grow px-4">
                <input 
                    class="w-full bg-primary-dark p-3 rounded-md text-sm outline-none"
                    type="text"
                       placeholder="Search a song"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-list class="w-full">
                        <div mat-subheader>Songs</div>
                        <mat-list-item class="w-full" *ngFor="let option of ($complexSearchResult | async)?.songs?.elements">
                            
                            <mat-option class="w-full" [value]="option.title" (click)="navigateToSong($event, option.id)">
                                <div class="flex flex-1 items-center">
                                    <img class="inline-block w-9 h-9 rounded-md shadow-md mr-3" [src]="artworkBaseUrl + option.artwork?.id" />

                                    <div class="flex-grow">
                                        <p>{{ option.title }}</p>
                                        <p>{{ option.artists | songArtistsJoin }}</p>
                                    </div>
                                </div>
                                
                            </mat-option>
                        </mat-list-item>


                        <mat-divider></mat-divider>


                        <div mat-subheader>Artists</div>
                        <mat-list-item class="w-full" *ngFor="let option of ($complexSearchResult | async)?.artists?.elements">
                            
                            <mat-option class="w-full" [value]="option.name" (click)="navigateToSong($event, option.id)">
                                <div class="flex flex-1 items-center">
                                    <img class="inline-block w-9 h-9 rounded-md shadow-md mr-3" [src]="artworkBaseUrl + option.artwork?.id" />

                                    <div class="flex-grow">
                                        <p>{{ option.name }}</p>
                                    </div>
                                </div>
                                
                            </mat-option>
                        </mat-list-item>
                    </mat-list>
                </mat-autocomplete>
        </div>
    
        <div class="inline-block">
            <button mat-icon-button [routerLink]="['/library/queue']" [routerLinkActive]="'hidden'">
                <mat-icon>file_upload</mat-icon>
            </button>
            <button mat-icon-button [routerLink]="['/settings']">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </div>
</div>
