<section class="p-window">
    <h2>Einstellungen</h2>

    <div class="bg-background p-4 border border-primary-light rounded-md my-row">
        <h6>Audio Fading</h6>
        <p class="text-sm text-white-dark text-opacity-60">Stelle hier ein, ob Songs beim Pausieren oder Übergängen, ausklingen sollen.</p>

        <div class="mt-row">
            <mat-checkbox [formControl]="enableAudioFadingControl" color="accent"><span class="font-normal">Audio-Fading aktivieren</span></mat-checkbox>
        </div>
    </div>
</section>