<div class="relative flex items-center w-full rounded-lg transition-all bg-background-light cursor-pointer border-2 border-transparent hover:border-primary-light p-2 h-full active:bg-background-dark active:border-primary-light overflow-hidden">
    
    <img [src]="coverSrc" class="w-10 aspect-square rounded-md mr-2">

    <div>
        <p class="text-xs line-clamp-2 break-words">{{ label.name }}</p>
    </div>

    <div class="absolute bottom-0 left-1/2 transform-gpu -translate-x-1/2 h-[80%] w-[180%] pointer-events-none" style="background-image: radial-gradient(ellipse at bottom center, rgba(255, 255, 255,0.15) 0%, rgba(255,255,255,0) 60%)"></div>
</div>
