<asc-splash [appTitle]="'Soundcore'" [subtitle]="'by TSAlliance'" [active]="showSplashScreen" [appLogoUri]="'../../../assets/branding/soundcore_logo_full.svg'">
    <asc-drawer #drawer>
        <div asc-drawer>
            <asc-sidebar></asc-sidebar>
        </div>
        <div asc-drawer-content>
            <button (click)="drawer.toggle()">Toggle Drawer</button>
    
            <section class="p-6">
                <router-outlet></router-outlet>
            </section>
        </div>
    </asc-drawer>
</asc-splash>
