<div class="w-full">
    <div class="flex flex-1 w-full px-6 items-center border" *ngIf="headline">
        <h6 class="flex-grow " *ngIf="headline">{{ headline }}</h6>
    </div>

    <div class="w-full">
            <ng-content></ng-content>
    </div>

    <div class="flex items-center mt-2" *ngIf="showMore">
        <button class="py-2 px-3 rounded-md transition-all hover:bg-background hover:bg-opacity-60 active:bg-background-light active:border-opacity-30 active:bg-opacity-60 transform-gpu will-change-transform active:scale-95" (click)="onMore.emit()"><span class="text-xs tracking-wide text-white-dark">Mehr Laden</span></button>
    </div>
</div>