<asc-playlist-view (onLike)="likeSong()" (onPlay)="playOrPause()" [isLiked]="($song | async)?.liked" [isPaused]="(audioService.$paused | async) || !(audioService.$currentSong | async)" [options]="{ type: 'song', title: ($song | async)?.title, artwork: ($song | async)?.artwork }">

    {{ ($dataSource | async) || undefined }}

    <!-- Quick info bar below title -->
    <div class="py-2 md:pt-2 md:pb-0 md:flex md:items-center" asc-stats>
        <ul class="flex md:inline-flex items-center gap-2">
            <asc-artist-badge [artist]="($song | async)?.artists[0]" [routerLink]="['/artist', ($song | async)?.artists[0]?.slug || ($song | async)?.artists[0]?.id]"></asc-artist-badge>
        </ul>

        <ul class="pt-2 flex md:inline-flex items-center md:p-0 gap-3 md:ml-3">
            <li class="inline text-xs opacity-60">{{ ($song | async)?.released | date:"yyyy" }}</li>
        </ul>
    </div>
    
    <!-- Page content -->
    <div asc-contents>
        <asc-song-list [dataSource]="$dataSource" [showCount]="false" (onPlay)="playOrPause()" [showMore]="false" [showDate]="false" [showCount]="true"></asc-song-list>
    </div>
</asc-playlist-view>

<!-- Recommended albums -->
<section class="relative mt-row z-10" *ngIf="($recommendedAlbums | async)?.length > 0">
    <asc-horizontal-grid [headline]="'Mehr von ' + ($song | async)?.artists?.[0]?.name">
        <asc-album-grid-item *ngFor="let recommended of ($recommendedAlbums | async)" [album]="recommended" [preferDate]="true" [routerLink]="['/album', recommended?.slug || recommended?.id]"></asc-album-grid-item>
    </asc-horizontal-grid>
</section>