<div class="flex items-center justify-start py-1 w-full overflow-hidden" [style.height]="itemHeight + 'px'">
    <div 
        class="flex flex-1 items-center justify-start gap-4 rounded-sm w-full h-full px-3 pointer-events-none"
        [ngClass]="{'hover:border-opacity-100 border border-body-lighter border-opacity-0 transition-all bg-opacity-0 hover:bg-opacity-30 bg-body-light cursor-pointer pointer-events-auto active:bg-opacity-50': !!bucket}">
        <!-- Bucket artwork -->
        <div class="h-10 min-w-10 w-10 rounded-sm">
            <scngx-skeleton [class]="'h-full aspect-square'" *ngIf="!bucket; else itemArtwork"></scngx-skeleton>
            <ng-template #itemArtwork><img src="/assets/img/icon_bucket.png" /></ng-template>
        </div>

        <!-- Bucket description -->
        <div class="flex-grow overflow-hidden">
            <div class="flex flex-col" *ngIf="!bucket; else bucketInfo">
                <scngx-skeleton [class]="'h-5 w-40'"></scngx-skeleton>
                <scngx-skeleton [class]="'h-3 w-24'"></scngx-skeleton>
            </div>

            <ng-template #bucketInfo>
                <p class="break-words">{{ bucket?.name }}</p>
                <p class="break-words text-xs opacity-60 font-light">ID: {{ bucket?.id }}</p>
            </ng-template>
        </div>

        <div class="min-w-36 w-36 hidden md:block">
            <scngx-skeleton [class]="'h-5 w-36'" *ngIf="!bucket; else bucketUsedSpace"></scngx-skeleton>

            <ng-template #bucketUsedSpace>
                <div class="flex items-center gap-2">
                    <hero-icon class="h-5 w-5" name="chart-pie"></hero-icon>
                    <span class="text-sm">{{ bucket?.usedSpace | scngxBytesPipe:"gb" }}</span>
                </div>
            </ng-template>
        </div>

        <div class="min-w-36 w-36">
            <scngx-skeleton [class]="'h-5 w-36'" *ngIf="!bucket; else bucketMountCount"></scngx-skeleton>

            <ng-template #bucketMountCount>
                <div class="flex items-center justify-end gap-2">
                    <hero-icon class="h-5 w-5" name="collection"></hero-icon>
                    <span class="text-sm">{{ bucket?.mountsCount ?? 0 }} Mount{{ bucket?.mountsCount != 1 ? 's' : '' }}</span>
                </div>
            </ng-template>
        </div>
    </div>
</div>