<div class="relative transition-all my-1 p-2 rounded-md text-center flex flex-1 items-center overflow-hidden h-full w-full border-2 border-transparent bg-background-dark">
    <img [src]="import.metadata?.thumbnail_url" class="w-11 aspect-square rounded-lg">

    <div class="max-w-full overflow-hidden text-left flex-grow px-4">
        <p class="font-bold text-sm max-w-full overflow-hidden text-ellipsis whitespace-nowrap">{{ import.metadata?.title }}</p>

        <div class="line-clamp-2 opacity-60">
            <ul>
                <li *ngFor="let artist of import.metadata?.artists; index as i" class="inline"><span class="text-xs leading-3 pointer-events-all" >{{ artist }}</span>{{ i + 1 < import.metadata?.artists.length ? ", " : "" }}</li>
            </ul>
        </div>
    </div>

    <div class="max-w-60 mr-4 hidden md:block">
        <p class="text-xs text-center opacity-80 line-clamp-1">{{ import.metadata?.albums.join(', ') }}</p>
    </div>

    <div class="min-w-16 hidden sm:block">
        <p class="text-xs opacity-80">{{ import.metadata?.duration | songDurationPipe }}</p>
    </div>

    <div class="min-w-16 sm:block">
        <asc-label>{{ import.status }}</asc-label>
    </div>

    <div class="absolute -bottom-0.5 left-0 w-full" *ngIf="import.status != 'upgradeIndex'">
        <mat-progress-bar [value]="import.downloadProgress" [mode]="import.status == 'downloading' ? 'determinate' : 'indeterminate'"></mat-progress-bar>
    </div>
</div>