<section class="w-full h-full select-none" #parent>
    <app-error404 *ngIf="!($loading | async) && !($mount | async)"></app-error404>

    <scngx-infinite-list class="w-full h-full" [fetchUrl]="infiniteFetchUrl" [pageSize]="infinitePageSize" [parentScroll]="parent" #list>
        <ng-container scngx-content>
            <div class="w-full p-window" #page *ngIf="($loading | async) || !!($mount | async)">

                <div class="w-full mb-row">
                    <p class="uppercase text-sm text-font-secondary">Mount</p>
                    <scngx-skeleton [class]="'h-10 w-96 mt-1'" *ngIf="($loading | async)"></scngx-skeleton>
                    <h4 class="cursor-text select-text" *ngIf="!($loading | async)">{{ ($mount | async)?.name }}</h4>
                </div>
        
                <div class="grid grid-cols-1 md:grid-cols-autofit gap-4 my-row">
        
                    <scngx-skeleton [class]="'h-32 w-full'" *ngIf="($loading | async)"></scngx-skeleton>
                    <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md" *ngIf="!($loading | async)">
                        <h6>Statistiken</h6>
                        <ul class="flex flex-col items-start w-full gap-2 mt-4">
                            <li class="inline-flex items-center gap-2 opacity-80"><hero-icon [class]="'h-5 w-5'" name="collection"></hero-icon><span class="text-sm">{{ ($mount | async)?.filesCount || 0 }} Datei{{ ($mount | async)?.filesCount != 1 ? 'en' : '' }}</span></li>
                            <li class="inline-flex items-center gap-2 opacity-80"><hero-icon [class]="'h-5 w-5'" name="chart-pie"></hero-icon><span class="text-sm">{{ ($mount | async)?.usedSpace | scngxBytesPipe:"gb" }}</span></li>
                            <li class="inline-flex items-center gap-2 opacity-80"><hero-icon [class]="'h-5 w-5'" name="refresh"></hero-icon><span class="text-sm">{{ ($mount | async)?.lastScannedAt | date:"dd.MM.yyyy 'um' HH:mm 'Uhr'" }}</span></li>
                        </ul>
                    </div>
        
                    <scngx-skeleton [class]="'h-32 w-full'" *ngIf="($loading | async)"></scngx-skeleton>
                    <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md" *ngIf="!($loading | async)">
                        <h6>Status</h6>
                        <ul class="flex flex-col items-start w-full gap-2 mt-4">
                            <li class="inline-flex items-center gap-2 opacity-80" *ngIf="($mount | async)?.isDefault"><hero-icon [class]="'h-5 w-5 fill-warn text-warn'" name="star"></hero-icon><span>Als Standard festgelegt</span></li>
                            <li class="inline-flex items-center gap-2 opacity-80"><div class="inline-flex items-center justify-center w-5 h-5 text-center"><div class="w-2 h-2 rounded-full bg-success"></div></div><span>{{ ($mount | async)?.status }}</span></li>
                        </ul>
                    </div>
        
                    <scngx-skeleton [class]="'h-32 w-full'" *ngIf="($loading | async)"></scngx-skeleton>
                    <div class="p-4 rounded-sm bg-body-light border border-body-lighter shadow-md" *ngIf="!($loading | async)">
                        <h6>Aktionen</h6>
                        <ul class="flex flex-wrap items-start w-full gap-2 mt-4">
                            <scngx-btn><hero-icon [class]="'h-5 w-5'" name="pencil"></hero-icon>Mount bearbeiten</scngx-btn>
                            <scngx-btn *ngIf="!($mount | async)?.isDefault"><hero-icon [class]="'h-5 w-5'" name="star"></hero-icon></scngx-btn>
                            <scngx-btn-outlined appearance="error"><hero-icon [class]="'h-5 w-5'" name="trash"></hero-icon>Mount löschen</scngx-btn-outlined>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container scngx-list>
            <h6 class="mt-row mb-2 px-window">Dateien</h6>

            <div class="flex flex-col gap-2 w-full px-window" *ngIf="list.viewPortItems.length > 0">
                <app-file-list-item *ngFor="let file of list.viewPortItems" [file]="file" [routerLink]="[file.slug || file.id]"></app-file-list-item>
            </div>
        </ng-container>
        
    </scngx-infinite-list>

</section>
