<div class="w-96">
    <h6>Wähle eine Playlist</h6>

    <div mat-dialog-content>

        <button (click)="openPlaylistEditor()" class="mt-4 flex items-center gap-2 p-2 w-full rounded-md appearance-none outline-none border-2 border-transparent transition-all will-change-auto hover:bg-background-light hover:border-primary-light hover:border-opacity-50 active:bg-background-dark">
            <span><i class="text-white-dark text-sm fa-solid fa-plus"></i></span>
            <span class="text-white-dark text-sm">Playlist erstellen</span>
        </button>

        <hr class="my-2 rounded-full appearance-none border-none h-[2px] w-full bg-primary-light bg-opacity-60">

        <asc-playlist-list-item *ngFor="let playlist of ($playlists | async)" [playlist]="playlist" [enableContextMenu]="false" (click)="choosePlaylist(playlist)"></asc-playlist-list-item>
    </div>
    
    <div mat-dialog-actions [align]="'end'">
        <button mat-stroked-button mat-dialog-close>Abbrechen</button>
    </div>
</div>
