<div class="absolute w-full top-0 left-0">
    <mat-progress-bar  mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
</div>

<section *ngIf="!isLoading && !playlist">
    <div class="flex justify-center items-center flex-col w-full p-10 text-left">
        <h1>
            <span class="text-sm w-full block text-accent-dark">404 Not Found</span>
            Whooops!
        </h1>

        <p class="mt-4">Die Playlist, die du suchst, konnte nicht gefunden werden.</p>
    </div>
</section>

<asc-playlist-view (onLike)="likePlaylist()" (onPlay)="playOrPauseList()" [isPaused]="(audioService.$paused | async) || !(audioService.$currentSong | async)" [likeable]="playlist?.author?.id != ($user | async)?.id && !playlist?.collaborative && playlist?.collaborators?.length <= 0" [options]="{ type: 'playlist', title: playlist?.title, privacy: playlist?.privacy, artwork: playlist?.artwork }" *ngIf="!isLoading && !!playlist" >

    <!-- Quick info bar below title -->
    <div class="py-2 md:pt-2 md:pb-0 md:flex md:items-center" asc-stats>
        <ul class="flex md:inline-flex items-center gap-2">
            <asc-profile-badge [user]="playlist?.author" [routerLink]="['/profile', playlist?.author.id]"></asc-profile-badge>

            <li class="inline opacity-60" *ngIf="playlist?.collaborators?.length > 0">
                <div class="inline-flex items-center">
                    <p class="text-sm mr-1">+{{ playlist?.collaborators?.length }}</p>
                    
                    <asc-user-avatar class="w-6 aspect-square rounded-full overflow-hidden transform-gpu cursor-pointer" [ngClass]="{'-translate-x-1/2 shadow-md': i != 0 }" *ngFor="let user of playlist?.collaborators; index as i" [resourceId]="user.avatarResourceId" [matTooltip]="user.username" [routerLink]="['/profile', user.id]"></asc-user-avatar>
                </div>
            </li>
        </ul>

        <ul class="pt-2 flex md:inline-flex items-center md:p-0 gap-3 md:ml-3">
            <li class="inline text-xs opacity-60">{{ playlist?.createdAt | date:"yyyy" }}</li>
            <li class="inline text-xs opacity-60">{{ playlist?.songsCount }} {{ playlist?.songsCount != 1 ? "Songs" : "Song" }}</li>
            <li class="inline text-xs opacity-60">{{ playlist?.totalDuration | totalDurationPipe }}</li>
        </ul>
    </div>

    <div asc-contents>

        <!-- Playlist controls -->
        <!-- <div class="flex items-center w-full border mb-row gap-2">-->
            <!-- Play btn 
            <button class="outline-none will-change-transform text-xxs rounded-full w-8 h-8 sm:w-10 sm:h-10 inline-flex justify-center items-center bg-accent-dark text-background transform-gpu sm:hover:scale-105 sm:active:scale-[97%] transition-all" (click)="playOrPauseList()">
                <i class="fa-solid fa-play" *ngIf="(audioService.$paused | async) || !(audioService.$currentSong | async)"></i>
                <i class="fa-solid fa-pause" *ngIf="!(audioService.$paused | async) && (audioService.$currentSong | async)"></i>
            </button>-->

            <!-- Like btn 
            <button class="transition-all" mat-icon-button (click)="likePlaylist()" *ngIf="playlist?.author?.id != ($user | async)?.id && !playlist?.collaborative && playlist?.collaborators?.length <= 0">
                <i class="fa-regular fa-heart" *ngIf="!playlist?.isLiked"></i>
                <i class="fa-solid fa-heart text-accent-dark" *ngIf="playlist?.isLiked"></i>
            </button>
        </div>-->

        <!-- Songs list -->
        <asc-song-list [dataSource]="$songs" [playlistContext]="playlist" [showCount]="false" [showMore]="($songs | async).length < playlist?.songsCount" (onMore)="findSongs()"></asc-song-list>
    </div>
</asc-playlist-view>