<div class="h-1">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading" color="accent"></mat-progress-bar>
</div>

<section class="px-4">
    <div class="flex flex-1 w-full items-center">
        <div class="w-32 aspect-square rounded-md overflow-hidden">
            <img [src]="coverSrc" [style]="'box-shadow: 0px 0px 32px 5px '+accentColor+'50;'">
        </div>

        <div class="px-4">
            <p class="text-sm opacity-60 mb-2"><span *ngIf="playlist?.privacy != 'public'" class="text-xxs bg-primary font-light p-1 rounded-md align-middle mr-1 tracking-wide">{{ playlist?.privacy | playlistPrivacyPipe }}</span>Playlist</p>
            <h2 class="line-clamp-1">{{ playlist?.title }}</h2>

            <ul class="flex items-center pt-2">
                <asc-profile-badge [user]="playlist?.author"></asc-profile-badge>
                <li class="inline text-xs opacity-70 ml-4">{{ playlist?.songsCount }} {{ playlist?.songsCount != 1 ? "Songs" : "Song" }}</li>
                <li class="inline text-xs opacity-70 ml-2">{{ playlist?.totalDuration | totalDurationPipe }}</li>
            </ul>
        </div>
    </div>
</section>

<!-- Play button bar -->
<section class="px-4">
    <!--<div [ngClass]="{'active': isActive}" class="play-button transition-all transform-gpu absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 will-change-auto rounded-full bg-accent-dark shadow-lg text-background w-7 h-7 overflow-hidden flex justify-center items-center hover:scale-105" (click)="playOrPause()">
        <i class="fa-solid fa-pause text-sm" *ngIf="!isPlayerPaused && isActive"></i>
        <i class="fa-solid fa-play text-sm" *ngIf="isPlayerPaused && isActive"></i>
        <i class="fa-solid fa-play text-sm" *ngIf="!isActive"></i>
    </div>-->
</section>

<section class="px-4">
    <div class="my-4 mt-14">
        <asc-song-list-item *ngFor="let song of ($songs | async)" [song]="song"></asc-song-list-item>
    </div>
</section>