<section class="p-window h-full w-full overflow-y-auto" #page>

    <scngx-infinite-list class="w-full mt-row" [fetchUrl]="infiniteFetchUrl" [pageSize]="infinitePageSize" [parentScroll]="page" #list>
        <!-- Page Headline -->
        <div class="w-full mb-row">
            <h4>Speicherzonen</h4>
            <p class="text-font text-opacity-80">Verwalte hier die einzelnen Speicherzonen.</p>
        </div>

        <!-- List items -->
        <app-bucket-list-item *ngFor="let bucket of list.viewPortItems" [routerLink]="[bucket.slug || bucket.id]" [bucket]="bucket"></app-bucket-list-item>
    </scngx-infinite-list>
</section>