<section class="p-window h-full w-full overflow-y-auto" #page>

    <scngx-infinite-list class="w-full mt-row" [fetchUrl]="infiniteFetchUrl" [pageSize]="infinitePageSize" [parentScroll]="page" #list>
        <!-- Page Headline -->
        <ng-container scngx-content>
            <scngx-ui-title [subtitle]="'Verwalte hier die einzelnen Speicherzonen.'">Speicherzonen</scngx-ui-title>
        </ng-container>

        <!-- List items -->
        <ng-container scngx-list>
            <h6 class="mt-row mb-2">Speicherzonen</h6>
            <div class="flex flex-col gap-2 w-full" *ngIf="list.viewPortItems.length > 0">
                <app-bucket-list-item *ngFor="let bucket of list.viewPortItems" [routerLink]="[bucket.slug || bucket.id]" [bucket]="bucket"></app-bucket-list-item>
            </div>
        </ng-container>
    </scngx-infinite-list>
</section>