<section class="p-window h-full w-full overflow-y-auto" #page>

    <div class="w-full mb-row">
        <h4>Speicherzonen</h4>
        <p class="text-font text-opacity-80">Verwalte hier die einzelnen Speicherzonen.</p>
    </div>

    <virtual-scroller class="w-full mt-row" [parentScroll]="page" [items]="($items | async)" (vsEnd)="fetchMore($event)" #scroller>
        
        <!-- Bucket list item -->
        <div class="flex items-center gap-4 p-4 rounded bg-body-light cursor-pointer transition-all active:bg-body-lighter" *ngFor="let bucket of scroller.viewPortItems" [routerLink]="[bucket.slug || bucket.id]">
            <!-- Bucket artwork -->
            <div class="min-w-36 max-w-36 aspect-square rounded bg-body bg-opacity-70"></div>

            <!-- Bucket description -->
            <div class="w-full">
                <div>
                    <h6 class="cursor-text select-text">{{ bucket.name }}</h6>
                </div>

                <ul class="flex flex-col items-start w-full gap-2 my-4 select-none">
                    <li class="inline-flex items-center gap-2 opacity-80"><hero-icon [class]="'h-5 w-5'" name="collection"></hero-icon><span class="text-sm">{{ bucket.mountsCount }} Mount{{ bucket.mountsCount != 1 ? 's' : '' }}</span></li>
                    <li class="inline-flex items-center gap-2 opacity-80"><hero-icon [class]="'h-5 w-5'" name="chart-pie"></hero-icon><span class="text-sm">{{ bucket.usedSpace | scngxBytesPipe:"gb" }}</span></li>
                </ul>

                <ul class="flex flex-col items-start w-full gap-2 select-none">
                    <li class="inline-flex items-center gap-2 opacity-80"><span class="w-2 h-2 rounded-full bg-success-light"></span><span class="text-xs">{{ bucket.flag | scngxBucketFlagPipe }}</span></li>
                </ul>
            </div>
        </div>

    </virtual-scroller>

</section>