<ng-container *ngIf="($props | async) as props">
    <app-error404 *ngIf="!props.loading && !props.album" [title]="'Album nicht gefunden'"></app-error404>

    <scngx-scroll class="w-full h-full pb-40" #scroller>
        <!-- Page Header -->
        <ng-container header>
            <app-list-view [resource]="props.album" [title]="props.album?.name" [isLoading]="props.loading" [artwork]="props.album?.artwork">
                <ng-container scngx-stats>
                    <li class="inline-flex items-center gap-1 text-font-secondary hover:underline cursor-pointer" *ngIf="props.album?.primaryArtist">
                        <div class="w-7 h-7 rounded-full overflow-hidden">
                            <scngx-artwork [artwork]="props.album?.artwork"></scngx-artwork>
                        </div>
                        <span [routerLink]="['/artist', props.album?.primaryArtist?.slug || props.album?.primaryArtist?.id]">
                            {{ props.album?.primaryArtist?.name }}
                        </span>
                    </li>
                    <li class="text-font-secondary">
                        <span>{{ props.album?.songsCount }} {{ props.album?.songsCount != 1 ? 'Songs' : 'Song' }}</span>
                    </li>
                    <li class="text-font-secondary">
                        <span>{{ props.album?.totalDuration| scngxSongDurationPipe }} min</span>
                    </li>
                </ng-container>
            
                <ng-container scngx-controls>
                    <scngx-ibtn (click)="forcePlay(props.tracklist)" size="md">
                        <img *ngIf="!props.playing; else paused" class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                        <ng-template #paused><img *ngIf="props.playing" class="w-7 h-7 text-body ml-0.5" src="assets/icons/pause.svg"></ng-template>
                    </scngx-ibtn>
            
                    <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                        <hero-icon [name]="'heart'" [class]="'h-7 aspect-square'"></hero-icon>
                    </button>
            
                    <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                        <hero-icon [name]="'dots-vertical'" [class]="'h-7 aspect-square'"></hero-icon>
                    </button>
                </ng-container>
            </app-list-view>
        </ng-container>

        <!-- List -->
        <ng-container list>
            <!-- <p>Initialized?: {{ tracklist?.$initialized | async }}</p> -->

            <scngx-table>
                <!-- Table Head
                <ng-container thead>
                    <div>#</div>
                    <div>Titel</div>
                </ng-container> -->

                <!-- Table Body -->
                <ng-container tbody *ngIf="props.tracklist">
                    <div *uiScroll="let item of props.tracklist; index as i" class="px-window">
                        <scngx-song-list-item 
                            [song]="item" 
                            [index]="i"
                            [active]="props.currentlyPlaying?.song?.id == item.id"
                            [playing]="props.playing">
                        </scngx-song-list-item>
                    </div>
                </ng-container>
            </scngx-table>
        </ng-container>

        <!-- Page Footer -->
        <ng-container footer>
            <div class="pb-bottom">
                <div class="px-window mt-row">
                    <h6>Mehr Playlisten</h6>
                </div>
                <scngx-horizontal-grid>
                    <ng-container *ngFor="let item of props.featuredAlbums">
                        <scngx-album-grid-item 
                            [item]="item" 
                            [useDate]="true"
                            [routerLink]="['/album', item.slug || item.id]">
                        </scngx-album-grid-item>
                    </ng-container>
                </scngx-horizontal-grid>
            </div>
        </ng-container>
    </scngx-scroll>
</ng-container>

<ng-template #lottieAnimationTemplate>
    <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
</ng-template>