<ng-container *ngIf="($props | async) as props">
    <div class="w-full h-full" cdkVirtualScrollingElement>
        <!-- 404 -->
        <app-error404 *ngIf="!props.loading && !props.album" [title]="'Album nicht gefunden'"></app-error404>

        <!-- Header -->
        <app-list-view [resource]="props.album" [title]="props.album?.name" [isLoading]="props.loading" [artwork]="props.album?.artwork">
            <ng-container scngx-stats>
                <li class="inline-flex items-center gap-1 text-font-secondary hover:underline cursor-pointer" *ngIf="props.album?.primaryArtist">
                    <div class="w-7 h-7 rounded-full overflow-hidden">
                        <scngx-artwork [artwork]="props.album?.artwork"></scngx-artwork>
                    </div>
                    <span [routerLink]="['/artist', props.album?.primaryArtist?.slug || props.album?.primaryArtist?.id]">
                        {{ props.album?.primaryArtist?.name }}
                    </span>
                </li>
                <li class="text-font-secondary">
                    <span>{{ props.album?.songsCount }} {{ props.album?.songsCount != 1 ? 'Songs' : 'Song' }}</span>
                </li>
                <li class="text-font-secondary">
                    <span>{{ props.album?.totalDuration| scngxSongDurationPipe }} min</span>
                </li>
            </ng-container>
        
            <ng-container scngx-controls>
                <scngx-ibtn (click)="forcePlay(props.tracklist)" size="md">
                    <img *ngIf="!props.playing; else paused" class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                    <ng-template #paused><img *ngIf="props.playing" class="w-7 h-7 text-body ml-0.5" src="assets/icons/pause.svg"></ng-template>
                </scngx-ibtn>
        
                <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                    <hero-icon [name]="'heart'" [class]="'h-7 aspect-square'"></hero-icon>
                </button>
        
                <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                    <hero-icon [name]="'dots-vertical'" [class]="'h-7 aspect-square'"></hero-icon>
                </button>
            </ng-container>
        </app-list-view>

        <!-- Songs list -->
        <cdk-virtual-scroll-viewport [itemSize]="56">
            <div *cdkVirtualFor="let item of props.tracklist; index as i" class="px-window">
                <scngx-song-list-item 
                    [song]="item" 
                    [index]="i"
                    [active]="props.currentlyPlaying?.song?.id == item?.id"
                    [playing]="props.playing"
                    [animRef]="lottieAnimationTemplate">
                </scngx-song-list-item>
            </div>
        </cdk-virtual-scroll-viewport>

        <!-- Footer -->
        <div class="pb-bottom">
            <div class="px-window mt-row">
                <h6>Mehr Playlisten</h6>
            </div>
            <scngx-horizontal-list>
                <ng-container *ngFor="let item of props.featuredAlbums">
                    <scngx-album-grid-item 
                        [item]="item" 
                        [useDate]="true"
                        [routerLink]="['/album', item.slug || item.id]">
                    </scngx-album-grid-item>
                </ng-container>
            </scngx-horizontal-list>
        </div>
    </div>
</ng-container>

<ng-template #lottieAnimationTemplate>
    <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
</ng-template>

<ng-template #songContextMenu let-data>
    <app-song-context-menu [song]="data.song" [playlist]="data.playlist" [tracklist]="data.tracklist"></app-song-context-menu>
</ng-template>