<ng-container *ngIf="($props | async) as props">
    <div class="w-full h-full" cdkVirtualScrollingElement>
        <!-- 404 -->
        <app-error404 *ngIf="!props.loading && !props.album; else content" [title]="'Album nicht gefunden'"></app-error404>

        <!-- Page -->
        <ng-template #content>
            <!-- Header -->
            <app-list-view [resource]="$any(props.album)" [title]="props.album?.name" [isLoading]="props.loading" [artwork]="props.album?.artwork">
                <ng-container scngx-stats>
                    <li class="inline-flex items-center gap-1 text-font-secondary hover:underline cursor-pointer" *ngIf="props.album?.primaryArtist">
                        <div class="w-7 h-7 rounded-full overflow-hidden">
                            <scngx-artwork [artwork]="props.album?.artwork"></scngx-artwork>
                        </div>
                        <span [routerLink]="['/artist', props.album?.primaryArtist?.slug || props.album?.primaryArtist?.id]">
                            {{ props.album?.primaryArtist?.name }}
                        </span>
                    </li>
                    <li class="text-font-secondary">
                        <span>{{ props.album?.songsCount }} {{ props.album?.songsCount != 1 ? 'Songs' : 'Song' }}</span>
                    </li>
                    <li class="text-font-secondary">
                        <span>{{ props.album?.totalDuration| scngxSongDurationPipe }} min</span>
                    </li>
                </ng-container>
            
                <ng-container scngx-controls>
                    <scngx-ibtn (click)="forcePlay(props.album, props.tracklist.data)" size="md">
                        <ng-icon *ngIf="props.playing" name="heroPauseSolid" size="24"></ng-icon>
                        <ng-icon *ngIf="!props.playing" name="heroPlaySolid" size="24"></ng-icon>
                    </scngx-ibtn>
            
                    <scngx-ibtn-text>
                        <ng-icon name="heroHeart" size="24"></ng-icon>
                    </scngx-ibtn-text>

                    <scngx-ibtn-text>
                        <ng-icon name="heroEllipsisVerticalSolid" size="24"></ng-icon>
                    </scngx-ibtn-text>
                </ng-container>
            </app-list-view>

            <!-- Songs list -->
            <cdk-virtual-scroll-viewport [itemSize]="56">
                <div *cdkVirtualFor="let item of props.datasource.data; index as i" class="px-window">
                    <scngx-song-list-item 
                        [song]="item" 
                        [index]="i"
                        [active]="props.currentlyPlaying?.song?.id == item?.id"
                        [playing]="props.playing"
                        [animRef]="lottieAnimationTemplate"
                        (onPlay)="forcePlayAt(props.album, props.tracklist.data, i)">
                    </scngx-song-list-item>
                </div>
            </cdk-virtual-scroll-viewport>

            <!-- Footer -->
            <div class="pb-bottom">
                <scngx-ui-row [headline]="'Mehr Alben' + (!props.album?.primaryArtist?.name ? '' : ' von ' + props.album?.primaryArtist?.name)" *ngIf="props.recommendedAlbums?.data?.size > 0">
                    <scngx-horizontal-list>
                        <scngx-album-grid-item 
                            *ngFor="let item of props.recommendedAlbums.data?.elements"
                            [item]="item" 
                            [useDate]="true"
                            [routerLink]="['/album', item.slug ?? item.id]">
                        </scngx-album-grid-item>
                    </scngx-horizontal-list>
                </scngx-ui-row>
            </div>
        </ng-template>
    </div>
</ng-container>

<ng-template #lottieAnimationTemplate>
    <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
</ng-template>

<ng-template #songContextMenu let-data>
    <app-song-context-menu [song]="data.song" [playlist]="data.playlist" [tracklist]="data.tracklist"></app-song-context-menu>
</ng-template>