<div class="flex gap-2 items-center h-14 px-window">
  <div class="min-w-fit max-w-fit">
    <span class="inline-flex items-center lg:hidden">
      <button mat-icon-button (click)="navigateBack()"><i class="fa-solid fa-arrow-left"></i></button>
      <button mat-icon-button (click)="emitMenuToggle()" class="lg:hidden">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    <span class="items-center hidden lg:inline-flex">
      <button mat-icon-button (click)="navigateBack()"><i class="fa-solid fa-chevron-left"></i></button>
      <button mat-icon-button (click)="navigateNext()"><i class="fa-solid fa-chevron-right"></i></button>
    </span>
  </div>

  <div class="">
    <!-- TODO -->
  </div>

  <div class="toolbarSection w-full overflow-x-auto">
    <div class="flex justify-start items-center flex-nowrap">
      <ng-container teleportOutlet="toolbarSection"></ng-container>
    </div>
  </div>

  <div class="inline-flex items-center justify-end min-w-fit max-w-fit" *ngIf="(authService.$user | async)">
    <span class="hidden md:inline"><asc-profile-badge [align]="'rtl'" [user]="(authService.$user | async)" [matMenuTriggerFor]="menu"></asc-profile-badge></span>
    <span class="w-6 h-6 rounded-full overflow-hidden md:hidden"><asc-user-avatar [resourceId]="(authService.$user | async).avatarResourceId" [matMenuTriggerFor]="menu"></asc-user-avatar></span>
  </div>
</div>

<mat-menu #menu>
  <ul>
    <li mat-menu-item [routerLink]="['/profile', (authService.$user | async)?.id]" class="font-bold"><i class="fa-solid fa-user"></i> Dein Profil</li>
    <li mat-menu-item [routerLink]="['/settings']" class="font-bold"><i class="fa-solid fa-gear"></i> Einstellungen</li>
    <li mat-menu-item [routerLink]="['/upload']" class="font-bold"><i class="fa-solid fa-upload"></i> Hochladen</li>

    <li mat-menu-item (click)="logout()" class="font-bold"><i class="fa-solid fa-power-off"></i> Abmelden</li>
  </ul>
</mat-menu>