<ng-container *ngIf="($props | async) as props">
    <cdk-virtual-scroll-viewport [itemSize]="56" class="w-full h-full overflow-x-hidden border border-red-600">
        <app-error404 *ngIf="!props.loading && !props.artist"></app-error404>

        <!-- Page Header -->
        <app-list-view [resource]="props.artist" [title]="props.artist?.name" [isLoading]="props.loading" [artwork]="props.artist?.artwork">
            <ng-container scngx-stats>
                <li class="text-font-secondary">
                    <span>{{ props.artist?.albumCount ?? 0 }} Alben</span>
                </li>
                <li class="text-font-secondary">
                    <span>{{ props.artist?.songCount ?? 0 }} Songs</span>
                </li>
                <li class="text-font-secondary">
                    <span>{{ props.artist?.streamCount ?? 0 }} Streams in 30 Tagen</span>
                </li>
            </ng-container>
            
            <ng-container scngx-controls>
                <scngx-ibtn (click)="forcePlay(props.tracklist)" size="md">
                    <img *ngIf="!props.playing; else paused" class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                    <ng-template #paused><img *ngIf="props.playing" class="w-7 h-7 text-body ml-0.5" src="assets/icons/pause.svg"></ng-template>
                </scngx-ibtn>
                
                <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                    <hero-icon [name]="'heart'" [class]="'h-7 aspect-square'"></hero-icon>
                </button>
                
                <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                    <hero-icon [name]="'dots-vertical'" [class]="'h-7 aspect-square'"></hero-icon>
                </button>
            </ng-container>
        </app-list-view>
    
        <!-- Favourite songs bar -->
        <div class="flex flex-1 items-center justify-start w-full px-window mb-row">
            <!-- Favourite songs -->
            <div class="inline-block p-4 bg-body-light bg-opacity-60 shadow-lg rounded-sm gap-4 border border-body-lighter">
                <div class="flex flex-1 items-center gap-4">
                    <div class="min-w-11 min-h-11 w-11 h-11 rounded-full overflow-hidden">
                        <scngx-artwork></scngx-artwork>
                    </div>
    
                    <div class="flex-grow">
                        <p class="line-clamp-2">Deine Lieblingssongs</p>
                        <p class="text-sm opacity-70 line-clamp-1">Dir gefallen {{ 0 }} Songs.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- List -->
        <div class="px-window pb-2">
            <scngx-ui-section-title [route]="['./songs']">Beliebte Songs</scngx-ui-section-title>
        </div>
        <div *cdkVirtualFor="let item of props.tracklist; index as i" class="px-window">
            <scngx-song-list-item 
                [song]="item" 
                [index]="i" 
                [active]="props.currentlyPlaying?.song?.id == item?.id"
                [playing]="props.playing"
                [animRef]="lottieAnimationTemplate">
                </scngx-song-list-item>
        </div>

        <div class="px-window">
            <scngx-btn-text size="sm" [routerLink]="['./songs']">Mehr anzeigen</scngx-btn-text>
        </div>
    
        <div class="w-full pb-bottom overflow-hidden">
            <scngx-ui-row [headline]="'Alben'" [route]="['./albums']" *ngIf="props.albums.data?.elements?.length > 0">
                <scngx-horizontal-list>
                    <scngx-album-grid-item 
                        *ngFor="let item of props.albums.data?.elements"
                        [item]="item" 
                        [useDate]="true"
                        [routerLink]="['/album', item.slug ?? item.id]">
                    </scngx-album-grid-item>
                </scngx-horizontal-list>
            </scngx-ui-row>
        
                <scngx-ui-row [headline]="'Enthalten in'" [route]="['./playlists']" *ngIf="featPlaylists.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-list>
                            <scngx-playlist-grid-item
                                *ngFor="let item of featPlaylists"
                                [item]="item"
                                [routerLink]="['/playlist', item?.slug ?? item?.id]">
                            </scngx-playlist-grid-item>
                        </scngx-horizontal-list>
                    </div>
                </scngx-ui-row>
        
                <scngx-ui-row [headline]="'Alben mit ' + props.artist?.name" [route]="['./playlists']" *ngIf="props.featAlbums.data?.elements?.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-list>
                            <scngx-album-grid-item 
                                *ngFor="let item of props.featAlbums.data?.elements"
                                [item]="item" 
                                [useDate]="true"
                                [routerLink]="['/album', item.slug ?? item.id]">
                            </scngx-album-grid-item>
                        </scngx-horizontal-list>
                    </div>
                </scngx-ui-row>
        </div>
    </cdk-virtual-scroll-viewport>
</ng-container>

<ng-template #lottieAnimationTemplate>
    <ng-lottie [options]="animOptions" class="aspect-square"></ng-lottie>
</ng-template>