<ng-container *ngIf="($props | async) as props">
    <app-error404 *ngIf="!props.loading && !props.artist"></app-error404>

    <scngx-scroll class="w-full h-full" #scroller>

        <!-- Page Header -->
        <ng-container header>
            <app-list-view [resource]="props.artist" [title]="props.artist?.name" [isLoading]="props.loading" [artwork]="props.artist?.artwork">
                <ng-container scngx-stats>
                    <li class="text-font-secondary">
                        <span>{{ props.artist?.albumCount ?? 0 }} Alben</span>
                    </li>
                    <li class="text-font-secondary">
                        <span>{{ props.artist?.songCount ?? 0 }} Songs</span>
                    </li>
                    <li class="text-font-secondary">
                        <span>{{ props.artist?.streamCount ?? 0 }} Streams in 30 Tagen</span>
                    </li>
                </ng-container>
            
                <ng-container scngx-controls>
                    <scngx-ibtn (click)="forcePlay(props.tracklist)" size="md">
                        <img *ngIf="!props.playing; else paused" class="w-7 h-7 text-body ml-0.5" src="assets/icons/play.svg">
                        <ng-template #paused><img *ngIf="props.playing" class="w-7 h-7 text-body ml-0.5" src="assets/icons/pause.svg"></ng-template>
                    </scngx-ibtn>
                
                    <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                        <hero-icon [name]="'heart'" [class]="'h-7 aspect-square'"></hero-icon>
                    </button>
                
                    <button class="flex items-center p-2 rounded-full" matRipple [matRippleCentered]="true">
                        <hero-icon [name]="'dots-vertical'" [class]="'h-7 aspect-square'"></hero-icon>
                    </button>
                </ng-container>
            </app-list-view>

            <!-- Favourite songs bar -->
            <div class="flex flex-1 items-center justify-start w-full px-window mb-row">
                <!-- Favourite songs -->
                <div class="inline-block p-4 bg-body-light bg-opacity-60 shadow-lg rounded-sm gap-4 border border-body-lighter">
                    <div class="flex flex-1 items-center gap-4">
                        <div class="min-w-11 min-h-11 w-11 h-11 rounded-full overflow-hidden">
                            <scngx-artwork></scngx-artwork>
                        </div>

                        <div class="flex-grow">
                            <p class="line-clamp-2">Deine Lieblingssongs</p>
                            <p class="text-sm opacity-70 line-clamp-1">Dir gefallen {{ 0 }} Songs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- List -->
        <ng-container list>
            <h6 class="px-window pb-2 mt-row">Beliebte Songs</h6>

            <scngx-table>
                <!-- Table Head
                <ng-container thead>
                    <div>#</div>
                    <div>Titel</div>
                </ng-container> -->

                <!-- Table Body -->
                <ng-container tbody *ngIf="props.tracklist">
                    <div *uiScroll="let item of props.tracklist; index as i" class="px-window">
                        <scngx-song-list-item 
                            [song]="item" 
                            [index]="i" 
                            [columns]="songListCols"
                            [isActive]="props.currentlyPlaying?.song?.id == item.id"></scngx-song-list-item>
                    </div>
                </ng-container>
            </scngx-table>
        </ng-container>

        <!-- Page Footer -->
        <ng-container footer>
            <div class="w-full pb-bottom">
                <scngx-ui-row [headline]="'Alben'" [route]="['./albums']" *ngIf="albums.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-grid>
                                <ng-container *ngFor="let item of albums">
                                    <scngx-album-grid-item 
                                        [item]="item" 
                                        [useDate]="true"
                                        [routerLink]="['/album', item.slug ?? item.id]">
                                    </scngx-album-grid-item>
                                </ng-container>
                        </scngx-horizontal-grid>
                    </div>
                </scngx-ui-row>
        
                <scngx-ui-row [headline]="'Enthalten in'" [route]="['./playlists']" *ngIf="featPlaylists.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-grid>
                                <ng-container *ngFor="let item of featPlaylists">
                                    <scngx-playlist-grid-item
                                        [item]="item"
                                        [routerLink]="['/playlist', item?.slug ?? item?.id]">
                                    </scngx-playlist-grid-item>
                                </ng-container>
                        </scngx-horizontal-grid>
                    </div>
                </scngx-ui-row>
        
                <scngx-ui-row [headline]="'Alben mit ' + props.artist?.name" [route]="['./playlists']" *ngIf="featAlbums.length > 0">
                    <div class="w-full">
                        <scngx-horizontal-grid>
                                <ng-container *ngFor="let item of featAlbums">
                                    <scngx-album-grid-item 
                                        [item]="item" 
                                        [routerLink]="['/album', item.slug ?? item.id]">
                                    </scngx-album-grid-item>
                                </ng-container>
                        </scngx-horizontal-grid>
                    </div>
                </scngx-ui-row>
            </div>
        </ng-container>

    </scngx-scroll>
</ng-container>