<div *teleportTo="'toolbarSection'">
    <ul class="inline-flex flex-nowrap justify-center">
        <li class="inline-block px-3 py-3 mx-1 rounded-md hover:bg-background-light active:bg-background-dark text-xs cursor-pointer transition-all" [routerLink]="['/import']" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'text-accent-dark'">YouTube</li>
        <li class="inline-block px-3 py-3 mx-1 rounded-md hover:bg-background-light active:bg-background-dark text-xs cursor-pointer transition-all" [routerLink]="['/import/spotify']" [routerLinkActiveOptions]="{ exact: true }" [routerLinkActive]="'text-accent-dark'">Spotify</li>
    </ul>
</div>

<router-outlet></router-outlet>