<div class="absolute w-full top-0 left-0">
    <mat-progress-bar  mode="indeterminate" color="accent" *ngIf="isLoading"></mat-progress-bar>
</div>

<section *ngIf="!isLoading && !album">
    <div class="flex justify-center items-center flex-col w-full p-10 text-left">
        <h1>
            <span class="text-sm w-full block text-accent-dark">404 Not Found</span>
            Whooops!
        </h1>

        <p class="mt-4">Das Album, das du suchst, konnte nicht gefunden werden.</p>
    </div>
</section>

<section *ngIf="!isLoading && !!album" class="relative p-6 pb-0">
    <div class="absolute left-0 top-0 w-full h-[50vh]" [style]="'background: linear-gradient(180deg, ' + (album?.artwork?.accentColor || accentColor) + '80 0%, ' + (album?.artwork?.accentColor || accentColor) + '00 100%);'"></div>

    <!-- Playlist title section -->
    <section class="block md:flex md:flex-1 md:items-end z-10 relative">
        <!-- Playlist cover -->
        <div class="block w-56 mx-auto md:m-0">
            <asc-artwork [artwork]="album?.artwork" class="block aspect-square rounded-2xl overflow-hidden shadow-xl z-10" [showAccent]="false"></asc-artwork>
        </div>

        <!-- Playlist title -->
        <div class="z-30 md:px-4 w-full pointer-events-auto mt-8 md:m-0">
            <h6 class="font-light md:font-bold md:-mb-1 text-sm md:text-lg md:block hidden">Album</h6>
            <h1 class="my-2 md:m-0 line-clamp-1 text-2xl md:text-5xl drop-shadow-md">{{ album?.title }}</h1>

            <!-- Quick info bar below title -->
            <div class="py-2 md:pt-2 md:pb-0 md:flex md:items-center">
                <ul class="flex md:inline-flex items-center gap-2">
                    <asc-artist-badge [artist]="album?.artist" [routerLink]="['/artist', album?.artist?.id]"></asc-artist-badge>
    
                    <li class="inline opacity-60" *ngIf="album?.featuredArtists?.length > 0">
                        <div class="inline-flex items-center">
                            <p class="text-sm mr-1">+{{ album?.featuredArtists?.length }}</p>
                            <asc-artwork class="w-6 aspect-square rounded-full overflow-hidden transform-gpu cursor-pointer" [ngClass]="{'-translate-x-1/2 shadow-md': i != 0 }" *ngFor="let featured of album?.featuredArtists; index as i" [artwork]="featured.artwork" [showAccent]="false" [matTooltip]="featured.name" [routerLink]="['/artists', featured.id]"></asc-artwork>
                        </div>
                    </li>
                </ul>
    
                <ul class="pt-2 flex md:inline-flex items-center md:p-0 gap-3 md:ml-3">
                    <li class="inline text-xs opacity-60">{{ album?.released | date:"yyyy" }}</li>
                    <li class="inline text-xs opacity-60">{{ album?.songsCount }} {{ album?.songsCount != 1 ? "Songs" : "Song" }}</li>
                    <li class="inline text-xs opacity-60">{{ album?.totalDuration | totalDurationPipe }}</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="relative my-6 z-10 md:my-12">
        <!-- Songs list -->
        <div class="block w-full">
            <asc-song-list-item *ngFor="let song of songs; index as i" [song]="song" [showAlbum]="false" [titleNr]="i+1"></asc-song-list-item>
        </div>
    </section>
</section>

<!-- Recommended albums -->
<section class="relative my-6 z-10" *ngIf="album?.artist && recommendedAlbums?.length > 0">
    <asc-horizontal-grid [headline]="'Mehr von ' + album?.artist?.name" (more)="showDiscography()" [enableMore]="true" customMoreText="Diskographie anzeigen">
        <asc-album-grid-item *ngFor="let recommended of recommendedAlbums" [album]="recommended" [preferDate]="true" [routerLink]="['/album', recommended?.id]"></asc-album-grid-item>
    </asc-horizontal-grid>
</section>