<div class="absolute w-full top-0 left-0 right-0" *ngIf="($isLoading | async)">
    <mat-progress-bar  mode="indeterminate" color="accent"></mat-progress-bar>
</div>

<!--<div *ngIf="!!album" class="absolute left-0 top-0 w-full h-[50vh]" [style]="'background: linear-gradient(180deg, ' + (album?.artwork?.accentColor || accentColor) + '80 0%, ' + (album?.artwork?.accentColor || accentColor) + '00 100%);'"></div>-->

<!--<section *ngIf="!isLoading && !album">
    <div class="flex justify-center items-center flex-col w-full p-10 text-left">
        <h1>
            <span class="text-sm w-full block text-accent-dark">404 Not Found</span>
            Whooops!
        </h1>

        <p class="mt-4">Das Album, das du suchst, konnte nicht gefunden werden.</p>
    </div>
</section>-->

<asc-playlist-view (onPlay)="playOrPauseList()" (onLike)="likeAlbum()" [isLiked]="($album | async)?.liked" [isPaused]="($isPaused | async)" [options]="{ type: 'album', title: ($album | async)?.title, artwork: ($album | async)?.artwork }" *ngIf="!($isLoading | async) && !!($album | async)" >

    <!-- Quick info bar below title -->
    <div class="py-2 md:pt-2 md:pb-0 md:flex md:items-center" asc-stats>
        <ul class="flex md:inline-flex items-center gap-2">
            <asc-artist-badge *ngIf="($album | async)?.artist" [artist]="($album | async)?.artist" [routerLink]="['/artist', ($album | async)?.artist?.id]"></asc-artist-badge>

            <li class="inline opacity-60" *ngIf="($album | async)?.featuredArtists?.length > 0">
                <div class="inline-flex items-center">
                    <span class="text-sm mr-1" *ngIf="($album | async)?.artist">+{{ ($album | async)?.featuredArtists?.length }}</span>
                    <asc-artwork class="w-6 aspect-square rounded-full overflow-hidden transform-gpu cursor-pointer" [ngClass]="{'shadow-md': i != 0 }" *ngFor="let featured of ($album | async)?.featuredArtists; index as i" [artwork]="featured.artwork" [showAccent]="false" [matTooltip]="featured.name" [routerLink]="['/artist', featured.id]"></asc-artwork>
                </div>
            </li>
        </ul>

        <ul class="pt-2 flex md:inline-flex items-center md:p-0 gap-3 md:ml-0.5">
            <li class="inline text-xs opacity-60">{{ ($album | async)?.released | date:"yyyy" }}</li>
            <li class="inline text-xs opacity-60">{{ ($album | async)?.songsCount }} {{ ($album | async)?.songsCount != 1 ? "Songs" : "Song" }}</li>
            <li class="inline text-xs opacity-60">{{ ($album | async)?.totalDuration | totalDurationPipe }}</li>
        </ul>
    </div>

    <!-- Page contents -->
    <div asc-contents>
        <asc-playable-list [list]="list" [showDate]="false" [showCover]="false" [showAlbum]="false"></asc-playable-list>
    </div>
</asc-playlist-view>

<!-- Recommended albums -->
<section class="relative mt-row z-10" *ngIf="($album | async)?.artist && ($recommended | async)?.length > 0">
    <asc-horizontal-grid [headline]="'Mehr von ' + ($album | async)?.artist?.name" (more)="showDiscography()" [enableMore]="true" customMoreText="Diskographie anzeigen">
        <asc-album-grid-item *ngFor="let recommended of ($recommended | async)" [album]="recommended" [preferDate]="true" [routerLink]="['/album', recommended?.slug || recommended?.id]"></asc-album-grid-item>
    </asc-horizontal-grid>
</section>