<div [ngClass]="{'bg-background-dark text-accent-dark text-opacity-100': active}"
    class="flex flex-1 items-center transition-all hover:bg-background-light cursor-pointer p-2 rounded-md text-opacity-70 hover:text-opacity-100">
    
    <div class="w-7 aspect-square mr-4">
        <img [src]="coverSrc" class="w-full aspect-square mx-auto rounded-md" [style]="'box-shadow: 0px 0px 32px 12px '+accentColor+'50;'">
    </div>
    <div class="flex-grow flex-shrink">
        <p class="text-sm line-clamp-1">{{ playlist.title }}</p>
    </div>
</div>