:host {
    .stage-tree-invisible {
        display: none;
      }

      .stage-tree {
        background: transparent !important;
      }

      .mat-nested-tree-node {
        height: unset !important;
        div[role=group] {
          @apply pl-9;
        }
      }
}