
<section class="p-window">
    <h5>Einstellungen</h5>

    <div class="block w-full my-row p-6 bg-body-light bg-opacity-40 rounded" [formGroup]="audioFormGroup">
        <h6>Audio Fading</h6>
        <p class="text-font text-opacity-70">Stelle hier ein, ob Songs beim Pausieren oder Übergängen, ausklingen sollen.</p>

        <mat-checkbox class="mt-row" formControlName="audioFadingControl">Audio Fading aktivieren</mat-checkbox>
    </div>

    <div class="block w-full my-row p-6 bg-body-light bg-opacity-40 rounded">
        <h6>Audio Fading</h6>
        <p class="text-font text-opacity-70">Stelle hier ein, ob Songs beim Pausieren oder Übergängen, ausklingen sollen.</p>

        <div class="my-row p-4 text-sm text-font-secondary bg-body border border-body-lighter border-opacity-70 rounded break-words">
            {{ (authService.$token | async) }}
        </div>

        <div>
            <button>Anzeigen</button>
        </div>
    </div>
</section>
