<div class="block w-full p-window pointer-events-none overflow-hidden" [ngClass]="{'p-2.5': ($reducedMode | async)}">
    <div *ngIf="!!song" class="relative flex flex-1 w-full items-center justify-between gap-4 p-3 bg-body-dark rounded pointer-events-auto overflow-hidden select-none" [ngClass]="{'gap-2 rounded-sm py-2': ($reducedMode | async)}">

        <div class="flex flex-grow w-full items-center justify-start gap-2">
            <div *ngIf="($showMaximize | async)">
                <span class="align-middle inline-flex justify-center items-center h-5 w-5 cursor-pointer" matRipple [matRippleRadius]="15" [matRippleCentered]="true" [matRippleUnbounded]="true">
                    <hero-icon name="arrows-expand" [class]="'h-5 w-5'"></hero-icon>
                </span>
            </div>

            <div class="min-w-12 max-w-12 h-12 rounded-sm overflow-hidden">
                <scngx-artwork [artwork]="null"></scngx-artwork>
            </div>

            <div class="w-full overflow-hidden">
                <p class="line-clamp-1">{{ song?.name || "Unbekannter Titel" }}</p>
                <ul class="line-clamp-1 w-full">
                    <li *ngIf="song?.explicit" class="inline mr-2"><scngx-explicit-badge [extended]="false"></scngx-explicit-badge></li>
                    <li *ngFor="let artist of song?.featuredArtists; index as i" class="inline text-font text-opacity-70"><span class="text-sm hover:underline pointer-events-all cursor-pointer" [routerLink]="['/artist', artist.slug || artist.id]">{{ artist.name }}</span>{{ i + 1 < song.featuredArtists.length ? ", " : "" }}</li>
                </ul>
            </div>
        </div>

        <div class="flex items-center justify-center border gap-1" [ngClass]="{'justify-end': ($reducedMode | async)}">
            
            <button *ngIf="($showHistoryControls | async)" class="w-11 h-11 inline-flex justify-center items-center rounded-full border" matRipple [matRippleRadius]="15" [matRippleCentered]="true" [matRippleUnbounded]="true"></button>
            <button *ngIf="!($reducedMode | async)" class="w-11 h-11 inline-flex justify-center items-center rounded-full border" matRipple [matRippleRadius]="15" [matRippleCentered]="true" [matRippleUnbounded]="true"></button>

            <button class="w-12 h-12 flex items-center justify-center bg-accent transition-all will-change-transform text-body rounded-full hover:scale-105 active:scale-[97%]" [ngClass]="{'bg-transparent text-white': ($reducedMode | async)}">
                <img class="w-7 h-7 text-body ml-0.5" [ngClass]="{'text-white': ($reducedMode | async)}" src="assets/icons/play.svg">
            </button>

            <button *ngIf="!($reducedMode | async)" class="w-11 h-11 inline-flex justify-center items-center rounded-full border" matRipple [matRippleRadius]="15" [matRippleCentered]="true" [matRippleUnbounded]="true"></button>
            <button *ngIf="($showHistoryControls | async)" class="w-11 h-11 inline-flex justify-center items-center rounded-full border" matRipple [matRippleRadius]="15" [matRippleCentered]="true" [matRippleUnbounded]="true"></button>

        </div>

        <div class="flex flex-grow w-full items-center justify-end border gap-2" [ngClass]="{'flex-grow-0 w-min': ($reducedMode | async)}">

            <span class="text-font-tertiary text-sm" *ngIf="($showDuration | async)">999:59/999:59</span>

            <button class="p-2 inline-flex justify-center items-center rounded-full" matRipple [matRippleRadius]="20" [matRippleCentered]="true" [matRippleUnbounded]="true">
                <hero-icon name="collection" [class]="'h-6 w-6'"></hero-icon>
            </button>

        </div>
    </div>
</div>